<div class="modal-header">
  <h3 class="modal-title">One time password</h3>
</div>

<div class="modal-body">
  <strong>{{description}}</strong>
  <form ng-submit="close(true)" >
    <div div class="form-group">
      <label for="password">Password: </label>
      <input type="text" id="password" name="password" ng-model="password" readonly class="form-control">
    </div>
    <div class="alert alert-warning" style="margin-top:15px;">
      <bold>Remember: </bold>
      <ul>
        <li>This password is only visible here and only once!</li>
        <li>This is a one time password, user will have to change it after its first login!</li>
        <li>Except for admin users, user must be assigned to a project to access step!</li>
      </ul>
    </div>
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>