<div class="panel-body">
  <div ng-attr-id="{{getPanelId('testCases')}}"
       class="panel panel-default" ng-if="isPanelEnabled('testCases')">
    <div class="panel-heading">
      <a ng-click="toggleShowPanel('testCases')">{{getPanelTitle('testCases')}}</a>
      <div class="pull-right">
        <status-distribution progress="testcasesProgress"/>
      </div>
      <div
              ng-if="execution.status != 'ENDED' && testcasesProgress.countForecast>0"
              uib-tooltip="Progress: {{testcasesProgress.count}}/{{testcasesProgress.countForecast}}"
              tooltip-append-to-body="true"
              style="margin-right: 20px; width: 200px"
              class="progress pull-right">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="{{testcasesProgress.count}}" aria-valuemin="0"
             aria-valuemax="{{testcasesProgress.countForecast}}"
             ng-attr-style="min-width: 2em; width: {{testcasesProgress.count/testcasesProgress.countForecast*100}}%;">
          {{testcasesProgress.count}}/{{testcasesProgress.countForecast}}
        </div>
      </div>
    </div>
    <div class="panel-body" ng-show="isShowPanel('testCases')">
      <st-table data="testCases" handle="testCaseTable"
                uid="'testCaseList'" persist-state="true"
                selection-attribute="'artefactID'"
                default-selection="testCaseTableDefaultSelection"
                multiple-selection="true"
                on-selection-change="testCaseTableOnSelectionChange">
        <st-actions>
          <st-selection-actions/>
        </st-actions>
        <st-columns>
          <st-column name="name">
            <header>Name</header>
            <second-header>
              <inputdropdown action="search" initial-value="initialValue"></inputdropdown>
            </second-header>
            <cell><a href uib-tooltip="Drilldown" tooltip-append-to-body="true"
                     ng-click="drillDownTestcase(row.artefactID)">{{row.name}}</a></cell>
          </st-column>
          <st-column
                  name="currentOperations">
            <header>Current
              operations
            </header>
            <second-header>
              <inputdropdown
                      action="search" initial-value="initialValue"></inputdropdown>
            </second-header>
            <cell>
              <current-operations ng-if="row.status==='RUNNING' && showTestCaseCurrentOperation" report-node-id="row.id"
                                  operation-options="operationOptions"
                                  execution-view-services="executionViewServices"/>
            </cell>
          </st-column>
          <st-column
                  name="status" width="'80px'">
            <header>Status</header>
            <second-header>
              <inputdropdown
                      options="statusOptions" action="search"
                      initial-value="initialValue"></inputdropdown>
            </second-header>
            <cell>
              <div class="text-center reportNodeStatus status-{{row.status}}">{{row.status}}</div>
            </cell>
          </st-column>
          <st-selection-column/>
        </st-columns>
      </st-table>
    </div>
  </div>

  <div ng-attr-id="{{getPanelId('steps')}}"
       class="panel panel-default">
    <div class="panel-heading">
      <div class="loader" ng-if="reloadingTable && !isRefreshing"></div>
      <a ng-click="toggleShowPanel('steps')">{{getPanelTitle('steps')}}</a>
      <div class="pull-right">
        <status-distribution progress="progress"/>
      </div>
      <div
              ng-if="execution.status != 'ENDED' && progress.countForecast>0"
              uib-tooltip="Progress: {{progress.count}}/{{progress.countForecast}}" tooltip-append-to-body="true"
              style="margin-right: 20px; width: 200px"
              class="progress pull-right">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="{{progress.count}}" aria-valuemin="0"
             aria-valuemax="{{progress.countForecast}}"
             ng-attr-style="min-width: 2em; width: {{progress.count/progress.countForecast*100}}%;">
          {{progress.count}}/{{progress.countForecast}}
        </div>
      </div>
    </div>
    <div class="panel-body" ng-show="isShowPanel('steps')">
      <ng-include src="'partials/executions/keywordCalls.html'"/>
    </div>
  </div>
  <div ng-attr-id="{{getPanelId('parameters')}}"
       class="panel panel-default">
    <div class="panel-heading">
      <a ng-click="toggleShowPanel('parameters')">{{getPanelTitle('parameters')}}</a>
    </div>
    <div class="panel-body" ng-show="isShowPanel('parameters')">
      <st-table data="execution.parameters"
                uid="'executionParameterList'">
        <st-columns>
          <st-column name="key">
            <header>Key</header>
            <second-header>
              <inputdropdown action="search" initial-value="initialValue"></inputdropdown>
            </second-header>
            <cell>{{row.key}}</cell>
          </st-column>
          <st-column name="value">
            <header>Value</header>
            <second-header>
              <inputdropdown action="search"
                             initial-value="initialValue"></inputdropdown>
            </second-header>
            <cell>{{row.value}}</cell>
          </st-column>
        </st-columns>
      </st-table>
    </div>
  </div>
</div>