<configuration scan="true" scanPeriod="60 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- loggers with deviating settings for specific packages -->
  <!--	<logger name="step.parameter.ParameterManager" level="debug" />-->

  <!-- TODO SED-4429: revise these error levels before release -->
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
  <logger name="step.ide" level="debug"/>
</configuration>
