<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org.lightcouch" level="error" />
	<!-- <logger name="io.djigger...." level="debug" /> -->
	
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>