:root {
	--main-header-bg-color: #000000;
	--main-header-color: #d8d9da;
	--main-header-hover-color: #f0f6f0;
	--main-bg-color: #828282;
	--button-color: #17d821;
	--button-hover-color: #13b91c;
	--button-active-color: #0c7311;
}
