<div id="OperationListCtrl" ng-controller="OperationListCtrl">
	<div class="toolbar">
		<auto-refresh-commands autorefresh="autorefresh" />
	</div>
	<div class="panel-heading">
		<p>Current operations</p>
	</div>
	
	<div class="panel-body">
		<st-table data="operationList" handle="tableHandle" uid="'operationsList'" persist-state="true">
			<st-columns>
			<st-column name="tid">
					<header>Thread ID</header>
					<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
					<cell>{{row.operation.tid}}</cell>
				</st-column>
				<st-column name="name">
					<header>Plan Name - executionID</header>
					<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
					<cell><a href="#/root/executions/{{row.execId}}">{{row.planName}} - {{row.execId}}</a></cell>
				</st-column>
				<st-column name="testcase">
					<header>Testcase</header>
					<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
					<cell>{{row.testcase}}</cell>
				</st-column>
				<st-column name="operation">
					<header>Operation Name</header>
					<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
					<cell>{{row.operation.name}}</cell>
				</st-column>
				<st-column name="operationDetails">
					<header>Operation Details</header>
					<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
					<cell><operation operation="row.operation" execution-view-services="executionViewServices" show-only-details="true"/></cell>
				</st-column>
				
			</st-columns>
		</st-table>	
	</div>
</div>
