.idea/
bin/
target/
.settings/
*.class
*.log
*.bak
.classpath
.project
*.iml
node_modules/
bower_components/
.DS_Store
/step-agent-3.9.1-SNAPSHOT.zip
/step-controller-3.9.1-SNAPSHOT.zip
step-controller/step-controller-base-plugins/resources/
/step-automation-packages/step-automation-packages-reader/src/test/resources/step-automation-packages-sample1.jar
/step-automation-packages/step-automation-packages-support/src/test/resources/step-automation-packages-malformed.jar
/step-automation-packages/step-automation-packages-support/src/test/resources/step-automation-packages-sample2.jar
