<div id="ArtefactEditorCtrl" ng-controller="ArtefactEditorCtrl" class="container-fluid">
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">{{artefact._class}}{{artefact.root?(' - '+artefact.attributes.name):''}}
					<div class="input-group pull-right">
						<div class="btn-group">
							<button type="submit" class="btn btn-default btn-xs" ng-click="execute()"><span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span></button>
				  		</div>
				  	</div>
				 </div>
				<div class="panel-body">
					<div ng-if="artefact.root" class="panel panel-default">
						<div class="panel-body">
							<div class="form-group" ng-repeat="(key, value) in artefact.attributes">
								<label for="{{key}}">{{key}}</label> <input
									ng-blur="saveAttributes()"
									class="form-control" id="{{key}}"
									ng-model="artefact.attributes[key]" ng-disabled="!authService.hasRight('plan-write')" placeholder="{{input.label}}"
									autofocus>
							</div>
						</div>
					</div>

					<artefact handle="handle" artefactid="artefactId" />
				</div>
			</div>	
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">Available components</div>
				<div class="panel-body">
						<uib-tabset>
							<uib-tab heading="Controls" active="$parent.tabState['controls']">
								<div class="panel-body">
									<div class="row">
										<datatable tabledef="controlsTable" handle="controlsTable" columnsearch="true" order="[[1, &quot;asc&quot;]]"/>
									</div>								
								</div>	
							</uib-tab>
							<uib-tab heading="Keywords" active="$parent.tabState['functions']">
								<div class="row">
									<div class="panel-body">	
										<datatable dataArray="data" handle="table" tabledef="tabledef" columnsearch="true" serverside="functions" order="[[1, &quot;desc&quot;]]" />
									</div>		
								</div>				
							</uib-tab>
						</uib-tabset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>