<div id="ArtefactListCtrl" ng-controller="ArtefactListCtrl">
	<div class="row">
	<div class="panel-body pull-right">
		<button type="button" ng-disabled="!authService.hasRight('plan-write')" class="btn btn-success" ng-click="addArtefact()">New plan</button>
	</div>
	</div>
	<datatable dataArray="data" handle="table" tabledef="tabledef" columnsearch="true" serverside="artefacts" order="[[1, &quot;desc&quot;]]" />
</div>

<script type="text/ng-template" id="newArtefactModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">New plan</h3>
        </div>
		
        <div class="modal-body">
			<strong>{{description}}</strong>
<form ng-submit="save(true)" >
	<span ng-repeat-start="input in inputs" ng-if="0" />
		<div ng-if="input.type=='TEXT'" class="form-group">
    		<label for="{{input.id}}">{{input.label}}</label>
    		<input class="form-control" id="{{input.id}}" ng-model="attributes[input.id]" placeholder="{{input.label}}" autofocus>
  		</div>
		<div  ng-if="input.type=='DROPDOWN'" class="form-group">
			<label>{{input.label}}</label>
			<select ng-model="attributes[input.id]" ng-options="option.value as option.value for option in input.options" class="form-control" />
		</div>
	<span ng-repeat-end ng-if="0" />
	<div class="form-group">
		<label>Type</label>
		<select ng-model="artefacttype" ng-options="option as option for option in artefactTypes" class="form-control" />
	</div>
	<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>
        </div>
        <div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="save(true)">Save and edit</button>
            <button class="btn btn-primary" type="button" ng-click="save(false)">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>