<div id="ArtefactEditorCtrl" ng-controller="ArtefactEditorCtrl" class="container-fluid">
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">Artefact 
					<div class="input-group pull-right">
						<div class="btn-group">
							<button type="submit" class="btn btn-default btn-xs" ng-click="execute()"><span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span></button>
				  		</div>
				  	</div>
				 </div>
				<div class="panel-body">
					<artefact handle="handle" artefactid="artefactId" />
				</div>
			</div>		
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">Available components</div>
				<div class="panel-body">
						<tabset>
							<tab heading="Controls" active="$parent.tabState['controls']">
								<div class="panel-body">
									<div class="row">
										<datatable tabledef="controlsTable" handle="controlsTable" columnsearch="true" order="[[1, &quot;asc&quot;]]"/>
									</div>								
								</div>	
							</tab>
							<tab heading="Keywords" active="$parent.tabState['functions']">
								<div class="row">
									<div class="panel-body">	
										<datatable dataArray="data" handle="table" tabledef="tabledef" columnsearch="true" serverside="functions" order="[[1, &quot;desc&quot;]]" />
									</div>		
								</div>				
							</tab>
						</tabset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>