<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="input-group" style="margin-bottom:10px;">
					<div class="btn-group">
						<button type="submit" ng-disabled="!authService.hasRight('plan-write')" class="btn btn-default btn-sm" ng-click="move(-1)"><span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
			    		<button type="submit" ng-disabled="!authService.hasRight('plan-write')" class="btn btn-default btn-sm" ng-click="move(1)"><span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
			  		</div>
			  		<div class="btn-group">
			    		<button type="submit" ng-disabled="!authService.hasRight('plan-write')" class="btn btn-default btn-sm" ng-click="copy()">Copy</button>
			    		<button type="submit" ng-disabled="!authService.hasRight('plan-write')" class="btn btn-default btn-sm" ng-click="paste()">Paste</button>
		    		</div>
			  		<div class="btn-group">
			    		<button type="submit" ng-disabled="!authService.hasRight('plan-write')" class="btn btn-default btn-sm" ng-click="remove()">Delete</button>
		    		</div>
		  		</div>
		  		<div id="jstree_demo_div"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<artefact-details artefactid="selectedArtefactId" />
			</div>
		</div>
	</div>
</div>