<form>
	<span ng-repeat-start="input in inputs" ng-if="0" />
		<div  ng-if="input.type=='DROPDOWN'" class="form-group form-group-sm">
			<label>{{input.label}}</label>
			<select ng-model="model[input.id]" ng-options="option.value as option.value for option in input.options" class="form-control" />
		</div>
	<span ng-repeat-end ng-if="0" />	
</form>
<div class="btn-toolbar" role="toolbar" aria-label="...">
	<div class="input-group" style="width:200px">
		<div class="btn-group">
			<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="execute(true)">
				<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
			</button> 
			<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="execute(false)">
				<span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>  
			<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="schedule()">
				<span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
			</button>
		</div>
	</div>

	<div  class="btn-group">
		<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="">
			<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
		</button>
		<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="stop()">
			<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
		</button>
	</div>
</div>

<script type="text/ng-template" id="newTaskModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">New task</h3>
        </div>
		<div class="modal-body">
		<form ng-submit="ok()" >
			<div class="form-group">
    			<label for="desc">Description</label>
    			<input class="form-control" id="desc" ng-model="name" placeholder="Description">
  			</div>
			<div class="form-group">
    			<label for="desc">CRON Expression</label>
    			<input class="form-control" id="desc" ng-model="cron" placeholder="CRON Expression" autofocus>
  			</div>
		</form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>