<form ng-class="{'form-inline': stInline}">
	<div ng-repeat="input in inputs" class="form-group form-group-sm" style="margin-right:10px" >
		<label ng-class="{'label-normal': stInline}">{{input.label}}</label>
		<select ng-if="input.type=='DROPDOWN'" ng-change="updateForm()" ng-model="model[input.id]" ng-options="option.value as option.value for option in input.options" class="form-control" />
		<input ng-if="input.type=='TEXT'" type="text" ng-blur="updateForm()" ng-model="model[input.id]" class="form-control" />
	</div>
</form>
