<div class="container-fluid">
<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<div id="jstree_div"></div>
			</div>
		</div>
	</div>
	<div ng-if="selectedNode" class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-heading">{{selectedNode.name}}<div class="executionStatus status-{{selectedNode.status}} pull-right">{{selectedNode.status}}</div></div>
			<div class="panel-body">
				<ul class="list-unstyled">
					<li>
						<strong>Execution Time</strong>
						<span>{{ selectedNode.executionTime | date:'dd.MM.yyyy HH:mm:ss'}}</span>
					</li>
					<li>
						<strong>Duration (ms)</strong>
						<span>{{selectedNode.duration}}</span>
					</li>
					<li ng-if="selectedNode.error")>
						<strong>Error</strong>
						<span>{{selectedNode.error.msg}}</span>
					</li>
					<li ng-if="selectedNode.attachments.length>0")>
						<strong>Attachments</strong>
						<span><ul class="list-unstyled"><li ng-repeat="attachment in selectedNode.attachments"><a role="menuitem" tabindex="-1" href="files?uuid={{attachment.id}}">{{attachment.name}}</a></li></ul></span>
					</li>
					<li ng-repeat="key in getDisplaiableProperties(selectedNode)">
						<strong>{{key}}</strong>
						<span>{{selectedNode[key]}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>