<div class="panel panel-default" id="SchedulerCtrl" ng-controller="SchedulerCtrl">
	<div class="panel-heading">
		Scheduler tasks
	</div>
	<div class="panel-body">
		<datatable handle="datatable" tabledef="tabledef" selectionmode="multiple" columns="columns" columnsearch="true">
			<table-actions>
				<div class="btn-group btn-group-menu">
					<button type="button" ng-disabled="!authService.hasRight('task-write')" class="btn btn-primary" ng-click="enableSelected()" uib-tooltip="Enable selected tasks">
						On
					</button>
					<button type="button" ng-disabled="!authService.hasRight('task-write')" class="btn btn-primary" ng-click="deleteSelected(false)" uib-tooltip="Disable selected tasks">
						Off
					</button>
				</div>
				<div class="btn-group btn-group-menu">
					<button type="button" ng-disabled="!authService.hasRight('task-delete')" class="btn btn-default" ng-click="deleteSelected(true)" uib-tooltip="Remove selected tasks">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</div>
			</table-actions>
		</datatable>
	</div>
</div>

<script type="text/ng-template" id="editSchedulerTaskModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit task</h3>
        </div>
		<div class="modal-body">
		<form ng-submit="save()" >
			<div ng-if="error">
				{{error}}
			</div>
			<div class="form-group">
    			<label for="desc">Description</label>
    			<input class="form-control" id="desc" ng-model="task.name" placeholder="Description" autofocus>
  			</div>
			<div class="form-group">
    			<label for="desc">CRON Expression</label>
    			<input class="form-control" id="desc" ng-model="task.cronExpression" placeholder="CRON Expression">
  			</div>
			<div class="form-group">
    			<label for="desc">Parameters</label>
				<textarea ng-model="executionsParameters" rows="7" ng-model-options="{ getterSetter: true }" class="form-control"></textarea>
  			</div>
		</form>
		</div>
		<div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>