<div ng-controller="AdminCtrl">
	<uib-tabset active="activeTab()"> 
		<uib-tab heading="Users" select="onSelection('users')">
			<div class="panel-body" id="UserListCtrl" ng-controller="UserListCtrl">
				<datatable tabledef="tabledef" handle="datatable" selectionmode="multiple" >
					<table-actions>
						<div class="btn-group btn-group-menu">
							<button type="button" ng-disabled="!authService.hasRight('user-write')"	class="btn btn-default" ng-click="forAllSelected('resetPwd')">Reset passwords</button>
						</div>
						<div class="btn-group btn-group-menu">
							<button type="button" ng-disabled="!authService.hasRight('user-write')" class="btn btn-default" ng-click="forAllSelected('removeUser')" uib-tooltip="Remove selected users">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
						<div class="btn-group btn-group-menu">
							<button type="button" ng-disabled="!authService.hasRight('user-write')"	class="btn btn-success" ng-click="addUser()">Add user</button>
						</div>
					</table-actions>
				</datatable>
			</div>
		</uib-tab>
		<uib-tab heading="Settings" select="onSelection('controller')">
			<div class="panel-body" id="ControllerSettingsCtrl" ng-controller="ControllerSettingsCtrl">
				<div>
					<div class="col-xs-2">
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="entry in configurationItems" ng-class="{'active': entry && entry == currentConfigurationItem}"><a ng-click="setCurrentConfigurationItem(entry)">{{entry.label}}</a></li>
						</ul>
					</div>
					<div class="col-xs-10">
						<div ng-include="currentConfigurationItem.template">
					</div>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
</div>

<script type="text/ng-template" id="editUserModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit user</h3>
        </div>
		
        <div class="modal-body">
			<strong>{{description}}</strong>
<form ng-submit="save(true)" >
		<div class="form-group">
    		<label for="username">Username</label>
    		<input class="form-control" id="username" ng-model="user.username" placeholder="" autofocus>
  		</div>
		<div class="form-group">
			<label>Role</label>
			<select ng-model="user.role" ng-options="option as option for option in roles" class="form-control" />
		</div>
	<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>
        </div>
        <div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
</script>