<div class="panel-body" id="ControllerSettingsCtrl" ng-controller="ControllerSettingsCtrl">
  <div>
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="entry in configurationItems" ng-class="{'active': entry && entry == currentConfigurationItem}"><a ng-click="setCurrentConfigurationItem(entry)">{{entry.label}}</a></li>
      </ul>
    </div>
    <div class="col-xs-10">
      <div ng-include="currentConfigurationItem.template">
      </div>
    </div>
  </div>
</div>