<div id="ArtefactEditorCtrl" ng-controller="ArtefactEditorCtrl" class="container-fluid">
	<div ng-if="isInteractiveSessionActive()" class="alert alert-info" role="alert">Welcome to the interactive mode. In this mode you can select tree nodes and run them directly by clicking the button 'Run interactively'</div>
	<div class="row flex-l">
		<div class="w-100 cols">
			<div class="panel panel-default">
				<div class="panel-heading">{{artefact._class}}{{artefact.root?(' - '+artefact.attributes.name):''}}
					<div class="pull-right">
						<button type="submit" class="btn btn-default btn-xs" ng-click="exportArtefact()">Export</button>
						<div class="btn-group" style="margin-right:5px;">
							<button ng-disabled="isInteractiveSessionActive()" type="submit" class="btn btn-default btn-xs" ng-click="startInteractive()">Start interactive session</button>
							<button ng-if="isInteractiveSessionActive()" type="submit" class="btn btn-default btn-xs" ng-click="resetInteractive()">Reset</button>
							<button ng-if="isInteractiveSessionActive()" type="submit" class="btn btn-default btn-xs" ng-click="stopInteractive()">Stop</button>						
							<button ng-if="isInteractiveSessionActive()" type="button" class="btn btn-default btn-xs" uib-popover-template="'executionParametersPopover.html'" popover-placement="bottom">Session parameters</button>					
						</div>
						<div class="btn-group">
							<button uib-popover-template="'executionCommandsPopover.html'" popover-placement="bottom" type="submit" class="btn btn-default btn-xs btn-run" title="Execute this plan" ng-click="execute()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
				  		</div>
				  	</div>
				 </div>
				<div class="panel-body">
					<div ng-if="artefact.root" class="panel panel-default">
						<div class="panel-body">
							<st-custom-form st-model="artefact" st-on-change="saveAttributes()" st-screen="artefactTable" st-inline="true" st-disabled="!authService.hasRight('plan-write')"/>
						</div>
					</div>
					<artefact handle="handle" artefactid="artefactId" interactive-session-handle="interactiveSession" />
				</div>
			</div>	
		</div>
		
		<div class="ml2 horizontal-collapse" uib-collapse="!isComponentTabsCollapsedBtn2" horizontal>
			<button type="button" class="btn btn-default btn-xs" ng-click="isComponentTabsCollapsed = !isComponentTabsCollapsed; isComponentTabsCollapsedBtn2 = !isComponentTabsCollapsedBtn2">
			<span class="glyphicon glyphicon-chevron-left"></span></button>
		</div>
		
		<div class="componentTabs horizontal-collapse" uib-collapse="isComponentTabsCollapsed" horizontal>
			<div class="panel panel-default">
				<div class="panel-heading flex flex-row p1">
					<div class="w-100 auto-margin">Available components</div>
					<button type="button" class="btn btn-default btn-xs" ng-click="isComponentTabsCollapsed = !isComponentTabsCollapsed; isComponentTabsCollapsedBtn2 = !isComponentTabsCollapsedBtn2">
						<span class="glyphicon glyphicon-chevron-right"></span></button>
				</div>
				<div class="panel-body">
						<uib-tabset  active="componentTabs.selectedTab">
							<uib-tab heading="Controls">
								<div class="panel-body">
									<div class="row">
										<datatable tabledef="controlsTable" handle="controlsTable" columnsearch="true" order="[[1, &quot;asc&quot;]]"/>
									</div>								
								</div>	
							</uib-tab>
							<uib-tab heading="Keywords">
								<div class="row">
									<div class="panel-body">	
										<datatable handle="table" tabledef="tabledef" columnsearch="true" serverside="functions" order="[[1, &quot;desc&quot;]]" />
									</div>		
								</div>				
							</uib-tab>
							<uib-tab heading="Other plans">
								<div class="row">
									<div class="panel-body">	
										<datatable handle="artefactTable" tabledef="artefactTable" columnsearch="true" serverside="artefacts" order="[[1, &quot;desc&quot;]]" />
									</div>		
								</div>				
							</uib-tab>
							<uib-tab heading="Console" ng-if="isInteractiveSessionActive()">
								<div class="row">
									<div class="panel-body">
										<datatable serverside="reports" tabledef="stepsTable" handle="stepsTable" selectionmode="single" columnsearch="true" order="[[1, &quot;desc&quot;]]" />
									</div>		
								</div>				
							</uib-tab>
						</uib-tabset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="executionParametersPopover.html">
<execution-parameters model="executionParameters" />
</script>
<script type="text/ng-template" id="executionCommandsPopover.html">
<execution-commands description="artefact.attributes.name" artefact="artefactRef()" />
</script>