<div class="modal-header">
	<h3 class="modal-title">Assign to project</h3>
</div>

<div class="modal-body">
	<div class="section">
		<div class="section-content section-highlight">
			<div class="panel panel-default">
				<div ng-if="state === 'initial'" class="panel-body">
					<div div class="form-group">
						<label for="projectSelect">Project: </label>
						<select id="projectSelect" class="form-control" ng-model="targetProject.selected" ng-options="project.name for project in projects">
							<option value="">Create new project</option>
						</select>
					</div>
					<div ng-if="targetProject.selected == null" class="form-group">
						<label for="projectName">Project name:</label>
						<input type="text" id="projectName" name="projectName" ng-model="targetProject.newName" class="form-control" />
					</div>
				</div>
				<div ng-if="state === 'running'" class="panel-body">
					<div class="loader" style="position: relative; top: 0; margin: 20px 0;"></div>
				</div>
				<div ng-if="state === 'finished'" class="panel-body">
					<span class="glyphicon glyphicon-ok-sign" style="color: var(--button-color)"></span> All unassigned entities have been assigned to the project: "{{targetProject.name}}"
				</div>
			</div>
		</div>
		<div class="section-content section-content-border">
			<strong>Please note:</strong>
			<ul>
				<li>All unassigned entities will be assigned to this project.</li>
				<li>After this initial migration you will be able to move entities from one project to another under the “Admin > Projects” view.</li>
			</ul>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-hide="state !== 'initial'" ng-disabled="(!targetProject.newName || targetProject.newName === '') && !targetProject.selected" ng-click="proceed()">Proceed</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>