<div class="modal-header">
	<h3 class="modal-title">{{(otp) ? 'Set' : 'Change'}} password</h3>
</div>

<form name="loginForm" ng-submit="save()">
	<div class="modal-body">
		<div ng-show="otp" class="alert alert-warning" style="margin-top:15px;">You have been given an initial password which only works once. Please set your new password now.</div>
		<div class="alert alert-danger" ng-if="error">{{error}}</div>
		<div class="form-group">
			<input autofocus type="password" class="form-control" name="password" placeholder="New password" required=""
				ng-model="model.newPwd" title="{{passwordDescription || ''}}" />
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="Repeat new password" required=""
				ng-model="repeatPwd" />
		</div>
		<div class="password-hint">
			<ul>
				<li ng-repeat="(key, value) in passwordScheme" class="{{value.rule.test(model.newPwd) ? 'valid' : 'invalid'}}">
					{{value.description}}
				</li>
				<li class="{{model.newPwd && model.newPwd === repeatPwd ? 'valid' : 'invalid'}}">
					password confirmed
				</li>
			</ul>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="submit">Save</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()" ng-show="!otp">Cancel</button>
	</div>
</form>