<div class="modal-header">
	<h3 class="modal-title">Warning</h3>
</div>

<form name="ConfirmationDialog" ng-submit="save()">
	<div class="modal-body">
		<div class="alert alert-danger">{{message}}</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-click="ok(true)">Proceed</button>
		<button class="btn btn-warning" type="submit" ng-click="ok(false)">Proceed without dependencies</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</form>