<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Select Preset</h3>
</div>
<div class="modal-body" id="modal-body">
    <table id="presetsTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>