<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>

<form name="EnterValuedDialog" ng-submit="save()">
    
    
     <div class="modal-body">
     	<input type="text" class="form-control form-control-sm ng-valid ng-touched ng-not-empty ng-dirty ng-valid-parse" ng-model="message">
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="saveTextField()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>