<st-custom-form st-model="executionParameters" st-screen="executionParameters" />
<div class="btn-toolbar" role="toolbar" aria-label="...">
	<div class="input-group">
		<div class="btn-group">
			<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="execute(true)" uib-tooltip="Simulate execution" tooltip-append-to-body="true">
				<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
			</button> 
			<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="execute(false)" uib-tooltip="Execute" tooltip-append-to-body="true">
				<span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>  
			<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="schedule()" uib-tooltip="Schedule" tooltip-append-to-body="true">
				<span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	
	<div class="input-group pull-right">
		<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="copyExecutionServiceAsCurlToClipboard()" uib-tooltip="Copy start request as curl command to clipboard" tooltip-append-to-body="true">
			<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
		</button>
	</div>

	<div ng-if="execution && execution.status!='ENDED'" class="btn-group">
		<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="">
			<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
		</button>
		<button type="button" ng-disabled="!authService.hasRight('plan-execute')" class="btn btn-default" aria-label="Left Align" ng-click="stop()">
			<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
		</button>
	</div>
</div>