<div id="FunctionListCtrl" ng-controller="FunctionListCtrl">
	<div class="row">
	</div>
	<datatable dataArray="data" handle="table" tabledef="tabledef" columnsearch="true" serverside="functions" order="[[1, &quot;desc&quot;]]">
		<table-actions>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('kw-write')" class="btn btn-default" ng-click="pasteFunction()" uib-tooltip="Paste keyword">
					<span class="glyphicon glyphicon-paste"></span>
				</button>
			</div>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('kw-write')" class="btn btn-success" ng-click="addFunction()">New keyword</button>
			</div>
		</table-actions>
	</datatable>
</div>