<div id="FunctionListCtrl" ng-controller="FunctionListCtrl">
	<st-table collection="'functions'" handle="tableHandle" uid="'functionList'">
		<st-actions>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('kw-write')" class="btn btn-default" ng-click="pasteFunction()" uib-tooltip="Paste keyword" tooltip-append-to-body="true" tooltip-placement="bottom">
					<span class="glyphicon glyphicon-paste"></span>
				</button>
			</div>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('kw-write')" class="btn btn-default" ng-click="importFunctions()" uib-tooltip="Import Keywords"
					tooltip-append-to-body="true" tooltip-placement="bottom">
					<span class="glyphicon glyphicon-import"></span>
				</button>
				<button type="button" ng-disabled="!authService.hasRight('kw-read')" class="btn btn-default" ng-click="exportFunctions()" uib-tooltip="Export Keywords"
					tooltip-append-to-body="true" tooltip-placement="bottom">
					<span class="glyphicon glyphicon-export"></span>
				</button>
			</div>
			<div class="btn-group btn-group-menu">
				<button type="button" ng-disabled="!authService.hasRight('kw-write')" class="btn btn-success" ng-click="addFunction()">New keyword</button>
			</div>
			<div class="btn-group btn-group-menu" ng-repeat="entry in viewRegistry.getDashlets('/functions/actions')" >
				<div ng-include="entry.template"></div>
			</div>
		</st-actions>
		<st-columns>
			<st-custom-columns st-screen="functionTable" st-exclude-fields="[]"/>
			<st-column name="type">
				<header>Type</header>
				<second-header></second-header>
				<cell>{{$parent.functionTypeLabel(row.type)}}</cell>
			</st-column>
			<st-custom-columns st-screen="functionTableExtensions" st-exclude-fields="[]" st-search-disable="false"/>
			<st-column width="'180px'">
				<cell>
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-default" ng-click="$parent.editFunction(row.id)" ng-disabled="!authService.hasRight('kw-write')"  uib-tooltip="Configure keyword" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            			</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.openFunctionEditor(row.id)" ng-disabled="!authService.hasRight('kw-write')" uib-tooltip="Edit keyword" tooltip-append-to-body="true">
	            			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	            		</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.executeFunction(row.id)" ng-disabled="!authService.hasRight('kw-execute')" uib-tooltip="Execute keyword" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            			</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.copyFunction(row.id)" ng-disabled="!authService.hasRight('kw-write')" uib-tooltip="Copy keyword" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            			</button>
									<button type="button" class="btn btn-default" ng-click="$parent.exportFunction(row.id,row.attributes.name)" ng-disabled="!authService.hasRight('kw-read')" uib-tooltip="Export keyword"
													tooltip-append-to-body="true" tooltip-placement="bottom">
										<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
									</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.deleteFunction(row.id, row.attributes.name)" ng-disabled="!authService.hasRight('kw-delete')" uib-tooltip="Delete keyword" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            			</button>
          			</div>
          		</cell>
			</st-column>
		</st-columns>
	</st-table>
</div>