<div class="input-group input-group-sm"  ng-if="options.length>0">
	<input ng-disabled="onlyOptions" class="form-control" aria-label="..." ng-model="model.inputtext" ng-keypress="($event.which === 13)?action(model.inputtext):0">
	
	<div class="input-group-btn" data-ng-class='{open: open}' ng-if="options.length>0">
		<button type="button" class="btn btn-default" data-ng-click='open=!open'>
			 <span class="caret"></span>
		</button>
		<ul id="dropdown-list" class='dropdown-menu dropdown-menu-right'>
			<li data-ng-repeat='option in options'>
				<label class="checkbox">
				    <input type="checkbox" value="" ng-model="option.selected" ng-change="selectionChanged()">
				    {{option.text}}
				  </label>
			</li>
		</ul>
	</div>
</div>
<input ng-if="!options || options.length==0" class="form-control input-sm" aria-label="..." ng-model="model.inputtext" ng-keypress="($event.which === 13)?action(model.inputtext):0">
