<uib-tabset> 
	<uib-tab heading="Table">
		<div class="panel-body">
			<div class="form-group form-group-sm">
				<table class="table">
					<thead>
						<tr>
							<th class="w-20">Key</th>
							<th>Value</th>
							<th class="w1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entry in argumentAsTable">
							<td><input ng-blur="onRowEdit()" type="text" class="form-control form-control-sm"
								ng-model="entry.key" /></td>
							<td>
								<dynamic-textfield dynamic-value="entry.value" on-save="onRowEdit()" />
							</td>
							<td><button class="btn btn-danger btn-xs" ng-click="removeRowFromTable(entry.key)" type="button"><i class="glyphicon glyphicon-remove"></i></button></td>	
						</tr>
						<tr>
							<td><input id="lastRowKey" type="text" class="form-control form-control-sm" ng-model="lastRow.key" 
								ng-keydown="onLastRowKeyPress($event)" 
								ng-blur="onBlurFromLastRowKey()"
								placeholder="Unique key"/></td>
							<td>
								<dynamic-textfield dynamic-value="lastRow.value" on-save="commitLastRow()" 
								ng-mousedown="onClickOnLastRowValue()"/>
							</td>
							<td></td>	
						</tr>
					</tbody>
				</table>
			</div>
		<!-- 	<button ng-click="addRowToTable()" type="button" class="btn btn-sm btn-success pull-right">
				<i class="glyphicon glyphicon-plus"></i> New
			</button>  -->
		</div>
	</uib-tab>
	<uib-tab heading="Raw (JSON)">
		<div class="panel-body">
			<textarea ng-blur="onJsonFieldBlur()" ng-model="localModel.json" class="form-control form-control-sm" rows="5"></textarea>
		</div>
	</uib-tab>
</uib-tabset>