<uib-tabset active="0">
	<uib-tab index="0" heading="Table">
		<div class="panel-body">
			<div class="form-group form-group-sm">
				<table class="table">
					<thead>
						<tr>
							<th class="w-20">Key</th>
							<th>Value</th>
							<th class="w1"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entry in argumentAsTable">
							<td><input ng-blur="onRowEdit()" type="text" class="form-control form-control-sm"
								ng-model="entry.key" /></td>
							<td>
								<dynamic-textfield dynamic-value="entry.value" on-save="onRowEdit()" />
							</td>
							<td><button class="btn btn-danger btn-xs" ng-click="removeRowFromTable(entry.key)" type="button"><i class="glyphicon glyphicon-remove"></i></button></td>	
						</tr>
						<tr>
							<td><input id="lastRowKey" type="text" class="form-control form-control-sm" ng-model="lastRow.key" 
								ng-keydown="lastRowTabKeyToValue($event)" ng-mousedown="onClickOnLastRow()" 
								ng-blur="onBlurFromLastRowKey()"
								placeholder="Unique key"/></td>
							<td>
								<dynamic-textfield dynamic-value="lastRow.value" on-save="saveLastRow()" id="lastRowValue" 
							ng-mousedown="onClickOnLastRow()" ng-keydown="lastRowTabValueToKey($event)"/>
							</td>
							<td><!-- <button class="btn btn-default btn-xs" ng-click="commitLastRow()" type="button"><i class="glyphicon glyphicon-ok"></i></button>--></td>	
						</tr>
					</tbody>
				</table>
			</div>
		<!-- 	<button ng-click="addRowToTable()" type="button" class="btn btn-sm btn-success pull-right">
				<i class="glyphicon glyphicon-plus"></i> New
			</button>  -->
		</div>
	</uib-tab>
	<uib-tab index="1" heading="Raw (JSON)">
		<div class="panel-body">
			<textarea ng-blur="onJsonFieldBlur()" ng-model="localModel.json" class="form-control form-control-sm" rows="5"></textarea>
		</div>
	</uib-tab>
</uib-tabset>