<div class="modal-header">
	<h3 class="modal-title">Warning messages</h3>
</div>

<form name="MessageDialog" ng-submit="ok()">
	<div class="modal-body" >
		<div ng-repeat="msg in message track by $index">
			<div class="alert alert-danger pa2 mb2"><span>{{msg}}</span></div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-click="ok()">Proceed</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</form>