<div class="container-fluid" id="MyAccountCtrl" ng-controller="MyAccountCtrl">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<h3 class="page-header">My account</h3>
					<div class="col-md-6">
						<ul class="list-unstyled attribute-list">
							<li>
								<p class="text-grey">Username</p>
								<p>{{user.username}}</p>
							</li>
							<li>
								<p class="text-grey">Role</p>
								<p>{{user.role}}</p>
							</li>
							<li>
								<p class="text-grey">
									Preferences
									<button class="btn btn-default btn-sm" ng-click="addPreference()">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
								</p> 
								<ul class="list-unstyled">
									<li ng-repeat="pref in preferences" style="margin-botton: 5px">
										<input class="form-control"	ng-model="pref.key" placeholder="Key" ng-blur="savePreferences()"> 
										<input class="form-control" ng-model="pref.value" placeholder="Value" ng-blur="savePreferences()">
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled attribute-list">
							<li>
								<a ng-click="changePwd()">Change password</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>