<div class="panel-body">
	<div class="row"
		ng-if="execution.importResult && !execution.importResult.successful">
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Error while importing plan:
			<ul>
				<li ng-repeat="error in execution.importResult.errors">{{error}}</li>
			</ul>
		</div>
	</div>

	<div class="row" ng-if="execution">
		<div class="col-xs-9">
			<div class="toolbar">
				<auto-refresh-commands autorefresh="autorefresh" />
				<button type="button" class="btn btn-default btn-xs"
					ng-model="vizRelated.lockdisplay" uib-btn-checkbox
					tooltip-placement="bottom" uib-tooltip="Unlock charts" tooltip-append-to-body="true">
					<span class="glyphicon glyphicon-lock" />
				</button>
			</div>
			<uib-tabset active="tabs.selectedTab"> <uib-tab
				heading="Execution steps">
			<div class="panel-body">
				<div ng-attr-id="{{getPanelId('testCases')}}"
					class="panel panel-default" ng-if="isPanelEnabled('testCases')">
					<div class="panel-heading">
						<a ng-click="toggleShowPanel('testCases')">{{getPanelTitle('testCases')}}</a>
						<div class="pull-right">
							<status-distribution progress="testcasesProgress" />
						</div>
						<div
							ng-if="execution.status != 'ENDED' && testcasesProgress.countForecast>0"
							uib-tooltip="Progress: {{testcasesProgress.count}}/{{testcasesProgress.countForecast}}" tooltip-append-to-body="true"
							style="margin-right: 20px; width: 200px"
							class="progress pull-right">
							<div class="progress-bar" role="progressbar"
								aria-valuenow="{{testcasesProgress.count}}" aria-valuemin="0"
								aria-valuemax="{{testcasesProgress.countForecast}}"
								ng-attr-style="min-width: 2em; width: {{testcasesProgress.count/testcasesProgress.countForecast*100}}%;">
								{{testcasesProgress.count}}/{{testcasesProgress.countForecast}}</div>
						</div>
					</div>
					<div class="panel-body" ng-show="isShowPanel('testCases')">
						<st-table data="testCases" handle="testCaseTable"
							uid="'testCaseList'" persist-state="true"
							selection-attribute="'artefactID'"
							default-selection="testCaseTableDefaultSelection"
							multiple-selection="true"
							on-selection-change="testCaseTableOnSelectionChange">
						<st-actions> <st-selection-actions /> </st-actions> <st-columns>
						<st-column name="name"> <header>Name</header> <second-header>
						<inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
						<cell> <a href uib-tooltip="Drilldown" tooltip-append-to-body="true"
							ng-click="drillDownTestcase(row.artefactID)">{{row.name}}</a></cell> </st-column> <st-column
							name="currentOperations"> <header>Current
							operations</header> <second-header> <inputdropdown
							action="search" initial-value="initialValue"></inputdropdown></second-header> <cell>
						<current-operations ng-if="row.status==='RUNNING' && showTestCaseCurrentOperation" report-node-id="row.id"
							operation-options="operationOptions"
							execution-view-services="executionViewServices" /></cell> </st-column> <st-column
							name="status" width="'80px'"> <header>Status</header>
						<second-header> <inputdropdown
							options="statusOptions" action="search"
							initial-value="initialValue"></inputdropdown></second-header> <cell>
						<div class="text-center reportNodeStatus status-{{row.status}}">{{row.status}}</div>
						</cell> </st-column> <st-selection-column /> </st-columns> </st-table>
					</div>
				</div>

				<div ng-attr-id="{{getPanelId('steps')}}"
					class="panel panel-default">
					<div class="panel-heading">
						<div class="loader" ng-if="reloadingTable && !isRefreshing"></div>
						<a ng-click="toggleShowPanel('steps')">{{getPanelTitle('steps')}}</a>
						<div class="pull-right">
							<status-distribution progress="progress" />
						</div>
						<div
							ng-if="execution.status != 'ENDED' && progress.countForecast>0"
							uib-tooltip="Progress: {{progress.count}}/{{progress.countForecast}}" tooltip-append-to-body="true"
							style="margin-right: 20px; width: 200px"
							class="progress pull-right">
							<div class="progress-bar" role="progressbar"
								aria-valuenow="{{progress.count}}" aria-valuemin="0"
								aria-valuemax="{{progress.countForecast}}"
								ng-attr-style="min-width: 2em; width: {{progress.count/progress.countForecast*100}}%;">
								{{progress.count}}/{{progress.countForecast}}</div>
						</div>
					</div>
					<div class="panel-body" ng-show="isShowPanel('steps')">
						<ng-include src="'partials/executions/keywordCalls.html'" />
					</div>
				</div>
				<div ng-attr-id="{{getPanelId('parameters')}}"
					class="panel panel-default">
					<div class="panel-heading">
						<a ng-click="toggleShowPanel('parameters')">{{getPanelTitle('parameters')}}</a>
					</div>
					<div class="panel-body" ng-show="isShowPanel('parameters')">
						<st-table data="execution.parameters"
							uid="'executionParameterList'"> <st-columns>
						<st-column name="key"> <header>Key</header> <second-header>
						<inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
						<cell>{{row.key}}</cell> </st-column> <st-column name="value"> <header>Value</header>
						<second-header> <inputdropdown action="search"
							initial-value="initialValue"></inputdropdown></second-header> <cell>{{row.value}}</cell>
						</st-column> </st-columns> </st-table>
					</div>
				</div>
			</div>
			</uib-tab> <uib-tab heading="Execution tree">
			<div class="panel-body">
				<div ng-attr-id="{{getPanelId('reportTree')}}"
					class="panel panel-default">
					<div class="panel-heading">
						<a ng-click="toggleShowPanel('reportTree')">{{getPanelTitle('reportTree')}}</a>
					</div>
					<div class="panel-body" ng-show="isShowPanel('reportTree')">
						<report-tree nodeid="eid" handle="reportTreeHandle" />
					</div>
				</div>
			</div>
			</uib-tab> <uib-tab heading="Performance">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4" tyle="display: inline;">
						<button class="btn btn-default btn-xs" type="button" uib-tooltip="Open a new interactive session with persistence" tooltip-append-to-body="true"
							ng-click="openLink('/#/root/dashboards/__pp__RTMDashboard?__filter1__=text,eId,'+eid+',Off&__filter2__=text,type,keyword,Off','_blank')">
							Interactive session <span class="glyphicon glyphicon-new-window"></span>
						</button>
					</div>
					<div class="col-md-4"></div>
					<div class="col-md-4">

						<div class="btn-group viz-btn-group form-radio" ng-if="execution.status !== 'ENDED' && autorefresh.enabled" style="float: right;">
							<label class="btn btn-success viz-btn-success"
								ng-model="timeframe" uib-btn-radio="'5s'"
								ng-click="setTimeframe('5000')" uib-tooltip="Display data from the last 5 seconds" tooltip-append-to-body="true">5s</label> <label
								class="btn btn-success viz-btn-success" ng-model="timeframe"
								uib-btn-radio="'30s'" ng-click="setTimeframe('30000')" uib-tooltip="Display data from the last 30 seconds" tooltip-append-to-body="true">30s</label>
							<label class="btn btn-success viz-btn-success"
								ng-model="timeframe" uib-btn-radio="'5m'"
								ng-click="setTimeframe('300000')" uib-tooltip="Display data from the last 5 minutes" tooltip-append-to-body="true">5m</label> <label
								class="btn btn-success viz-btn-success" ng-model="timeframe"
								uib-btn-radio="'1h'" ng-click="setTimeframe('1800000')" uib-tooltip="Display data from the last 30 minutes" tooltip-append-to-body="true">30m</label>
								<label
								class="btn btn-success viz-btn-success" ng-model="timeframe"
								uib-btn-radio="'max'" ng-click="setTimeframe('max')" uib-tooltip="Display all-time data for this execution" tooltip-append-to-body="true">all</label>
						</div>
						<div class="btn-group viz-btn-group form-radio"
							style="float: right;">&nbsp;</div>
						<div class="btn-group viz-btn-group form-radio"
							style="float: right;">
							<label class="btn btn-success viz-btn-success" ng-model="measurementtypemodel" uib-btn-radio="'keyword'" ng-click="setMeasurementType('keyword')" uib-tooltip="Display keyword statistics only" tooltip-append-to-body="true">Keywords</label>
							<label class="btn btn-success viz-btn-success" ng-model="measurementtypemodel" uib-btn-radio="'custom'" ng-click="setMeasurementType('custom')" uib-tooltip="Display custom measurements only" tooltip-append-to-body="true">Custom</label>
						</div>
					</div>
				</div>
				<div class="row" style="display: flex;"
					ng-if="tabs.selectedTab === 2 && timelinewidget && timelinewidget.state && (execution.status === 'ENDED' || !autorefresh.enabled)">
					<div class="col-md-12">
						<hr style="margin-top: 5px; margin-bottom: -15px; background: black; height: 2px;" />
						<viz-dashlet state="timelinewidget.state"
							widgetid="timelinewidget.oid" displaytype="'aggregated'"
							displaymode="'readonly'" presets="presets"
							restprefix="restprefix" inputsettingscol="globalsettingsPh" class="timelinewidget" ></viz-dashlet>
						<hr style="margin-bottom: 0; margin-top: -15px; background: black; height: 2px;" />
						<!-- 
					<viz-mgd-widget displaymode="readonly"
						state="timelinewidget.state" wstate="timelinewidget.wstate"
						widgetid="timelinewidget.state.oid"
						headersheightinput="'250'" charttocontainerinput=""
						presets="presets" restprefix="restprefix"
						inputsettingscol="globalsettingsPh">
						     -->

					</div>
				</div>
				<div class="row" ng-if="tabs.selectedTab === 2">
					<div>
						<viz-dashboard-manager displaymode="displaymode"
							presets="staticPresets" dashboards="dashboardsendpoint"
							headermargin="200" restprefix="'/rest'"></viz-dashboard-manager>
					</div>
				</div>
			</div>
			</uib-tab> <uib-tab heading="Errors">
			<div class="panel-body">
				<div class="row">
					<span>Group by: </span><span><select
						ng-model="selectedErrorDistirbutionToggle"
						ng-options="x for x in errorDistributionToggleStates"></select><span>
				</div>
				<div>&nbsp</div>
				<div>&nbsp</div>

				<div ng-if="selectedErrorDistirbutionToggle == 'message'">
					<st-table data="countByErrorMsg" uid="'errorDistribution'"
						persist-state="true"> <st-actions> </st-actions> <st-columns>
					<st-column name="errorMessage"> <header>Error
						message</header> <second-header> <inputdropdown
						action="search" initial-value="initialValue"></inputdropdown></second-header> <cell>
					<span><a ng-click="searchStepByError(row.errorMessage)">{{row.errorMessage}}</a></span></cell>
					</st-column> <st-column> <header>Count</header> <cell> <span>{{row.errorCount}}</span>
					</cell> </st-column> <st-column> <header>%</header> <cell> <span>{{(row.errorCount/errorDistribution.errorCount*100)
						| number:1}}%</span> </cell> </st-column> <st-column> <header>Overall %</header>
					<cell> <span>{{(row.errorCount/errorDistribution.count*100)
						| number:1}}%</span> </cell> </st-column></st-table>
				</div>
				<div ng-if="selectedErrorDistirbutionToggle == 'code'">
					<st-table data="countByErrorCode" uid="'errorDistribution'"
						persist-state="true"> <st-actions> </st-actions> <st-columns>
					<st-column name="errorCode"> <header>Error
						code</header> <cell> <span>{{row.errorCode}}</span></cell> </st-column> <st-column>
					<header>Count</header> <cell> <span>{{row.errorCodeCount}}</span>
					</cell> </st-column> <st-column> <header>%</header> <cell> <span>{{(row.errorCodeCount/errorDistribution.errorCount*100)
						| number:1}}%</span> </cell> </st-column> <st-column> <header>Overall %</header>
					<cell> <span>{{(row.errorCodeCount/errorDistribution.count*100)
						| number:1}}%</span> </cell> </st-column></st-table>
				</div>
			</div>
			</uib-tab> </uib-tabset>
		</div>
		<div class="col-xs-3">
			<div class="panel panel-default">
				<div class="panel-body" ng-if="execution">
					<execution-commands description="execution.description"
						artefact="execution.executionParameters.repositoryObject"
						included-testcases="getIncludedTestcases()"
						on-execute="onTestExecutionStarted()" execution="execution" />
				</div>
			</div>

			<div ng-attr-id="{{getPanelId('executionDetails')}}"
				class="panel panel-default">
				<div class="panel-heading">
					<a ng-click="toggleShowPanel('executionDetails')">{{getPanelTitle('executionDetails')}}</a>
					<div class="executionStatus status-{{execution.status}} pull-right">{{execution.status}}</div>
				</div>
				<div class="panel-body" ng-show="isShowPanel('executionDetails')">
					<ul class="list-unstyled">
						<li><strong>Plan</strong> <span><a
								ng-href="#/root/plans/editor/{{execution.planId}}">{{execution.description}}</a></span>
						</li>
						<li
							ng-repeat="(key, value) in execution.executionParameters.customParameters"><strong>{{key}}</strong>
							<span>{{value}}</span></li>
						<li><strong>Mode</strong> <span>{{execution.executionParameters.mode}}</span></li>
						<li><strong>User</strong> <span>{{execution.executionParameters.userID}}</span></li>
						<li><strong>Start</strong> <date time="execution.startTime" /></li>
						<li><strong>End</strong> <date time="execution.endTime" /></li>
						<li><strong>Execution ID</strong> <span>{{execution.id}}</span></li>
						<li><strong>Origin</strong> <span>Repository={{execution.executionParameters.repositoryObject.repositoryID}}</span>
							<span
							ng-repeat="(key, value) in execution.executionParameters.repositoryObject.repositoryParameters">
								{{key}}={{value}} </span></li>
					</ul>
				</div>
			</div>

			<div ng-repeat="entry in customPanels" ng-attr-id="{{entry.id}}"
				class="panel panel-default">
				<div class="panel-heading">
					<a ng-click="toggleShowPanel(entry.id)">{{entry.label}}</a>
				</div>
				<div class="panel-body" ng-show="isShowPanel(entry.id)">
					<div ng-include="entry.template"></div>
				</div>
			</div>

			<div ng-attr-id="{{getPanelId('currentOperations')}}"
				ng-if="execution.status != 'ENDED'" class="panel panel-default">
				<div class="panel-heading">
					<a ng-click="toggleShowPanel('currentOperations')">{{getPanelTitle('currentOperations')}}</a>
				</div>
				<div class="panel-body" ng-show="isShowPanel('currentOperations')">
					<st-table data="currentOperations" uid="'currentOperations'">
					<st-columns> <st-column name="operation">
					<header></header> <cell> <operation operation="row"
						execution-view-services="executionViewServices" /></cell> </st-column> </st-columns> </st-table>
				</div>
			</div>

			<div ng-attr-id="{{getPanelId('throughput')}}"
				ng-if="progress.count>1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a ng-click="toggleShowPanel('throughput')">{{getPanelTitle('throughput')}}</a>
					</div>
					<div class="panel-body" ng-show="isShowPanel('throughput')">
						<canvas id="throughput-chart" class="chart chart-line"
							handle="throughputchart" legend="true" click="onClick" />
					</div>
				</div>
			</div>
			<div ng-attr-id="{{getPanelId('threadGroups')}}" ng-if="threadGroupsChart.series.length>0">
					 <!--progress.count>1"-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<a ng-click="toggleShowPanel('threadGroups')">{{getPanelTitle('threadGroups')}}</a>
					</div>
					<div class="panel-body" ng-show="isShowPanel('threadGroups')">
						<canvas id="threadGroups-chart" class="chart chart-line"
										handle="threadGroupsChart" legend="true" click="onClick" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
