<div class="panel panel-default" ng-controller="ReportNodeBrowserCtrl" id="ReportNodeBrowserCtrl">

	<div style="background-color: #f1f1f1; padding-bottom: 15px; padding-top: 15px;">
		<div style="margin: 5px;">
			<form ng-submit="search()">
				<div class="input-group">
					<input ng-model="query" type="text" class="form-control"
						aria-label="...">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default"
							aria-label="Left Align" ng-click="search()">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<st-table collection="'reports'" handle="tableHandle" uid="'functionCallList'" filter="query" >
					<st-actions>
					</st-actions>
					<st-columns>
						<st-column name="executionTime" width="'60px'">
							<header>Begin</header>
							<second-header></second-header>
							<cell>
								<button ng-if="!rowScope.showDetails" type="button" class="btn btn-default btn-xxs" uib-tooltip="Show/hide details" tooltip-append-to-body="true" ng-click="rowScope.showDetails=!rowScope.showDetails">
									<span class="glyphicon glyphicon-chevron-right" />
								</button>
								<button ng-if="rowScope.showDetails" type="button" class="btn btn-default btn-xxs" uib-tooltip="Show/hide details" tooltip-append-to-body="true" ng-click="rowScope.showDetails=!rowScope.showDetails">
									<span class="glyphicon glyphicon-chevron-down" />
								</button>
								<time time="row.executionTime" />
							</cell>
						</st-column>
						<st-column name="step">
							<header>Step</header>
							<second-header><inputdropdown action="search" initial-value="initialValue" ></inputdropdown></second-header>
							<cell>
								<reportnode-short node="row" execution-view-services="executionViewServices" show-details="rowScope.showDetails"/>
							</cell>
						</st-column>
						<st-column name="status" width="'80px'">
							<header>Status</header>
							<second-header><inputdropdown options="reportNodeStatusOptions" action="search" initial-value="initialValue" ></inputdropdown></second-header>
							<cell><reportnode-status status="row.status" /></cell>
						</st-column>
					</st-columns>
				</st-table>
			</div>
		</div>
	</div>
</div>