<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div id="jstree_scroll_div" style="max-height: 75vh; height: 75vh;"
					class="panel-body pre-scrollable">
					<div id="jstree_div"></div>
				</div>
			</div>
		</div>
		<div ng-if="selectedNode" class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<reportnode-short node='selectedNode' include-status="true"
						show-details="true" />
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-xs-1">
				<input type="text" class="form-control" name="skip"
					placeholder="skip" required="" autofocus=""
					ng-model="reportTreeSettings.skip" />
			</div>
			<div class="col-xs-1">
				<input type="text" class="form-control" name="limit"
					placeholder="limit" required="" autofocus=""
					ng-model="reportTreeSettings.limit" />
			</div>
		</div>
	</div>