<div id="SchedulerCtrl" ng-controller="SchedulerCtrl">
	<st-table data="schedulerTasks" uid="'schedulerTaskList'" persist-state="true">
		<st-actions>	
			<div class="btn-group btn-group-menu">	
	
		<div class="flex-ns items-center justify-start ma1">
	 		<label class="mb0 mr1">Enable scheduler</label>
			<span class="glyphicon glyphicon-question-sign" uib-tooltip="Use this switch to enable or disable completely the scheduler. You can still add, edit or remove some scheduling entries while the scheduler is stopped." tooltip-append-to-body="true"></span>
		
			<div class="btn-switch ml-auto" ng-class="{'btn-switch--on':model.schedulerEnabledToggle}" ng-model="model.schedulerEnabledToggle" ng-click="switchSchedulerEnabledToggle()">
			<div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':model.schedulerEnabledToggle}" ng-model="model.schedulerEnabledToggle">
				</div>
			</div>
	</div>					
				<button type="button" ng-disabled="!authService.hasRight('task-write')" class="btn btn-success" ng-click="addSchedulerEntry()">New task</button>
			</div>
		</st-actions>
		
		<st-columns>
			<st-custom-columns st-screen="schedulerTable" st-exclude-fields="[]"/>
			<st-column name="cronExpression">
				<header>CRON Expression</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><span>{{row.cronExpression}}</span></cell>
			</st-column>
			<st-column name="active">
				<header>Status</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell>
					<button type="button" ng-class="model.schedulerEnabledToggle ? 'btn btn-primary': 'btn'" ng-click="$parent.toggleTaskState(row.id, row.active)" ng-disabled="!authService.hasRight('task-write')" aria-pressed="false" autocomplete="off">{{row.active?'On':'Off'}}</button>
				</cell>
			</st-column>
			<st-column width="'150px'">
				<cell>
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-default" ng-click="$parent.executeTask(row)" ng-disabled="!authService.hasRight('plan-execute')"  uib-tooltip="Execute" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            			</button>
						<button type="button" class="btn btn-default" ng-click="$parent.editTask(row.id)" ng-disabled="!authService.hasRight('task-write')" uib-tooltip="Edit" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            			</button>
            			<button type="button" class="btn btn-default" ng-click="$parent.askAndDeleteTask(row.id, true)" ng-disabled="!authService.hasRight('task-write')" uib-tooltip="Delete" tooltip-append-to-body="true">
            				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            			</button>
            			<a class="btn btn-default btn-sm" href="/#/root/dashboards/__pp__RTMDashboard?__filter1__=text,taskId,{{row.id}}" uib-tooltip="Analyze performance in interactive session"
							tooltip-append-to-body="true" target="_blank"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
						</a>
          			</div>
          		</cell>
			</st-column>
		</st-columns>
	</st-table>
</div>