<div class="modal-header">
	<h3 class="modal-title">Edit task</h3>
</div>
<div class="modal-body">
	<form ng-submit="save()">
		<div ng-if="error">{{error}}</div>
		<div class="form-group">
			<label for="desc">Description</label> <input class="form-control"
				id="desc" ng-model="task.name" placeholder="Description" autofocus>
		</div>
		<div class="form-group">
			<label for="desc">CRON Expression</label> <input class="form-control"
				id="desc" ng-model="task.cronExpression"
				placeholder="CRON Expression">
		</div>
		<div class="form-group">
			<label for="desc">Parameters</label>
			<div class="panel panel-default">
				<div class="panel-body">
					<execution-parameters model="task.executionsParameters.customParameters" st-inline="false" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="desc">User</label> <input class="form-control" id="desc" ng-model="task.executionsParameters.userID"	placeholder="User">
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<a ng-click="showParameters = !showParameters">Advanced</a>
			</div>
			<div class="panel-body" ng-show="showParameters">
				<div class="form-group">
					<label for="desc">Parameters</label>
					<textarea ng-model="executionsParameters" rows="7"
						ng-model-options="{ getterSetter: true }" class="form-control"></textarea>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="save()">Save</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>