<div class="modal-header">
	<h3 class="modal-title">New task</h3>
</div>
<div class="modal-body">
	<form ng-submit="ok()">
		<div class="form-group">
			<label for="desc">Description</label> <input class="form-control"
				id="desc" ng-model="name" placeholder="Description">
		</div>
		<div class="form-group">
			<label for="desc">CRON Expression</label> <input class="form-control"
				id="desc" ng-model="cron" placeholder="CRON Expression" autofocus>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>