<div class="modal-header">
	<h3 class="modal-title">New task</h3>
</div>
<div class="modal-body">
	<form ng-submit="ok()">
		<div class="form-group">
			<label for="desc">Description</label> <input class="form-control"
				id="desc" ng-model="name" placeholder="Description">
		</div>
		<div class="form-group">
			<label for="desc">CRON Expression</label>

			<div class="input-group">
				<input class="form-control" id="desc" ng-model="cron" placeholder="CRON Expression" autofocus>

				<div class="input-group-btn" uib-dropdown>
					<button type="button" class="btn btn-primary" uib-dropdown-toggle>Presets <span class="caret"></span></button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu">
						<li role="menuitem"><a href="#" ng-click="applyPreset('0 0/1 * * * ?')">Every minute</a></li>
						<li role="menuitem"><a href="#" ng-click="applyPreset('0 0/5 * * * ?')">Every 5 minutes</a></li>
						<li role="menuitem"><a href="#" ng-click="applyPreset('0 0 0/1 * * ?')">Every hour</a></li>
						<li role="menuitem"><a href="#" ng-click="applyPreset('0 0 0/2 * * ?')">Every 2 hours</a></li>
						<li role="menuitem"><a href="#" ng-click="applyPreset('0 0 7 * * ?')">Every day at 07:00</a></li>
					</ul>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>