<div>
	
	<div>
		<i style="display:inline-block" uib-tooltip="{{node.resolvedArtefact._class}}" class="glyphicon {{(node.resolvedArtefact?artefactTypes.getIcon(node.resolvedArtefact._class):artefactTypes.getDefaultIcon) + ' executionStatus status-'+node.status}}" />
		<!-- node.resolvedArtefact has been introduced with 3.6.0. We're checking it here for retrocompatibility. Remove this check has soon as possible -->
		{{node._class=='step.artefacts.reports.CallFunctionReportNode'?concatenate(node.functionAttributes):(node.resolvedArtefact?artefactTypes.getLabel(node.resolvedArtefact._class):node.name)}}
		<span style="margin-left:10px;" class="text-muted small">{{node.name}}</span>
		<span ng-if="includeStatus" class="pull-right" style="margin-bottom:10px;margin-left:10px;" ><reportnode-status status="node.status" /></span> 
		<span class="pull-right"><attachments node="node" /></span>
		<span class="pull-right" style="margin-right:5px">
			<div class="btn-group btn-group-menu">
				<button type="button" class="btn btn-default btn-xs" uib-tooltip="Show this node in the tree view" ng-click="executionViewServices.showNodeInTree(node._id.$oid)">
					<span class="glyphicon glyphicon-search" />
				</button>
				<button type="button" class="btn btn-default btn-xs" uib-tooltip="Show/hide details" ng-click="toggleDetails()">
					<span class="glyphicon glyphicon-option-horizontal" />
				</button>
			</div>
		</span>
	</div>
	<hr />
	<div ng-if="node._class=='step.artefacts.reports.CallFunctionReportNode'">
		<div ng-if="node.input">Input: <small><em>{{node.input}}</em></small></div>
		<div ng-if="node.output">Output: <small><em>{{node.output}}</em></small></div>
	</div>
	<div ng-if="node._class=='step.artefacts.reports.EchoReportNode'">
		<div ng-if="node.echo">Echo: <small><em>{{node.echo}}</em></small></div>
	</div>
	<div ng-if="node._class=='step.artefacts.reports.AssertReportNode'">
		<div ng-if="node.message"><small><em>{{node.message}}}}</em></small></div>
	</div>
	<div ng-if="node.resolvedArtefact._class=='Set' && node.resolvedArtefact.key.value">
		<div>{{node.resolvedArtefact.key.value}} = {{node.resolvedArtefact.value.value}}</div>
	</div>
	<div ng-if="node.error">Error: <small><em>{{node.error.msg}}
		{{(node.attachments && node.attachments.length>0)?'. Check the attachments for more details.':''}}</em></small>	
	</div>
	<div uib-collapse="!isShowDetails">
		<reportnode node='reportNode' />
	</div>
</div>