<div ng-controller="ReportNodeCtrl">
	<div class="form-group">{{artefact._class}} - {{node.name}} <div class="executionStatus status-{{node.status}} pull-right">{{node.status}}</div></div>
	<div ng-include="reportNodeType.template"></div>
	
	<div ng-if="node.error">Error: <small><em>{{node.error.msg}}
		{{(node.attachments && node.attachments.length>0)?'. Check the attachments for more details.':''}}</em></small>
		<span class="pull-right"><attachments node="node" /></span>	
	</div>
	
	<div>Start: {{ selectedNode.executionTime | date:'dd.MM.yyyy HH:mm:ss'}}</div>
	<div>Duration (ms): {{selectedNode.duration}}</div>
	<div class="panel panel-default">
		<div class="panel-heading"><a ng-click="showArtefact = !showArtefact">Plan node</a></div>
		<div class="panel-body" ng-show="showArtefact">			
			<artefact-details artefactid="node.artefactID" readonly="false" />
		</div>
	</div>
</div>