<div class="modal-header">
	<h3 class="modal-title">Update resource?</h3>
</div>
<div class="modal-body">
	<div class="alert alert-warning">You're about to update a resource which might be used by other objects</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="updateResource()">Update resource</button>
	<button class="btn btn-primary" type="button" ng-click="createNewResource()">Create a new resource</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>