<div ngf-drop="upload($file)"
	uib-tooltip="Drag and drop your file here or enter the path to a file accessible from the controller">
	
	<div ng-if="!isAttachment() && showSaveButton()" class="input-group">
		<input type="text" class="form-control" ng-model="model.filePath" ng-blur="blur()"/>
		<div class="input-group-btn" >
			<button ng-disabled="file==model.filePath" class="btn btn-default" ng-click="save()">{{saveButtonLabel}}</button>
		</div>
	</div>
	
	<div ng-if="!isAttachment() && !showSaveButton()">
		<input type="text" class="form-control" ng-model="model.filePath" ng-blur="blur()"/>
	</div>
	
	<div ng-if="isAttachment()" class="input-group">
		<input disabled type="text" class="form-control" ng-model="attachmentFilename">
		<div class="input-group-btn">
			<a class="btn btn-default" href="files?uuid={{getAttachmentId()}}"> <span
				class="glyphicon glyphicon-download-alt" aria-hidden="true" uib-tooltip="Download this file"></span>
			</a>
			<button class="btn btn-default" ng-click="clear()">
				<span class="glyphicon glyphicon-remove" aria-hidden="true" uib-tooltip="Delete this file"></span>
			</button>
		</div>
	</div>
</div>
