<div class="progress"
	uib-tooltip="Used: {{tokenGroup.usage}}, In error: {{tokenGroup.error}}, Total: {{tokenGroup.capacity}} ">
	<div class="progress-bar token-status-IN_USE"
		ng-attr-style="color:white; width:{{tokenGroup.usage/tokenGroup.capacity*100}}%;">
		{{tokenGroup.usage}}</div>
	<div class="progress-bar token-status-ERROR"
		ng-attr-style="color:white; width:{{tokenGroup.error/tokenGroup.capacity*100}}%;">
		{{tokenGroup.error}}</div>
	<div class="progress-bar token-status-FREE"
		ng-attr-style="color:white; width:{{(tokenGroup.capacity-tokenGroup.error-tokenGroup.usage)/tokenGroup.capacity*100}}%;">
		{{tokenGroup.capacity}}</div>
</div>