<div class="progress"
	uib-tooltip="Used: {{tokenGroup.countByState['IN_USE']}}, In error: {{tokenGroup.countByState['ERROR']}}, Total: {{tokenGroup.capacity}} ">
	<div class="progress-bar token-status-IN_USE"
		ng-attr-style="color:white; width:{{tokenGroup.countByState['IN_USE']/tokenGroup.capacity*100}}%;">
		{{tokenGroup.countByState['IN_USE']}}</div>
	<div class="progress-bar token-status-MAINTENANCE_REQUESTED"
		ng-attr-style="color:white; width:{{tokenGroup.countByState['MAINTENANCE_REQUESTED']/tokenGroup.capacity*100}}%;">
		{{tokenGroup.countByState['MAINTENANCE_REQUESTED']}}</div>	
	<div class="progress-bar token-status-MAINTENANCE"
		ng-attr-style="color:white; width:{{tokenGroup.countByState['MAINTENANCE']/tokenGroup.capacity*100}}%;">
		{{tokenGroup.countByState['MAINTENANCE']}}</div>
	<div class="progress-bar token-status-ERROR"
		ng-attr-style="color:white; width:{{tokenGroup.countByState['ERROR']/tokenGroup.capacity*100}}%;">
		{{tokenGroup.countByState['ERROR']}}</div>
	<div class="progress-bar token-status-FREE"
		ng-attr-style="color:white; width:{{tokenGroup.countByState['FREE']/tokenGroup.capacity*100}}%;">
		{{tokenGroup.countByState['FREE']}}</div>
</div>