<div ng-if="!isDynamic()" class="form-group form-group-sm">
	<label ng-if="label">{{label}}</label>
	<span ng-if="tooltip" class="glyphicon glyphicon-question-sign" uib-tooltip="{{tooltip}}"></span>
	<button class="btn btn-default btn-xs pull-right" type="button" title="Use a function to set this attribute" ng-click="useDynamicExpression()"><span class="glyphicon glyphicon-flash" ></span></button>
	<div class="input-group" ngf-drop="upload($file)" uib-tooltip="Drag and drop your file here">
		<input  ng-if="!isAttachment()" type="text" class="form-control" ng-blur="onSave()" ng-model="dynamicValue.value" />
		<input ng-if="isAttachment()" disabled type="text" class="form-control" ng-model="attachmentFilename">
		<div class="input-group-btn">
			<a ng-if="isAttachment()" class="btn btn-default btn-sm" href="files?uuid={{getAttachmentId()}}">
				<span class="glyphicon glyphicon-download-alt" aria-hidden="true" uib-tooltip="Download this file"></span>
			</a>
			<button class="btn btn-default btn-sm" ng-if="isAttachment()" ng-click="clear()">
				<span class="glyphicon glyphicon-remove" aria-hidden="true" uib-tooltip="Delete this file"></span>
			</button>
			<button class="btn btn-default btn-sm" ngf-select="upload($file)" uib-tooltip="Upload a new file">Select</button>
		</div>
	</div>
</div>
<expression-input />