<st-column>
	<header></header>
	<second-header><input ng-if="multipleSelection()" type="checkbox"  ng-model="selectedAll" ng-click="toggleSelectAll()" /></second-header>
	<cell>
		<input ng-if="multipleSelection()" type="checkbox" ng-model="selectionModelByInput()(row)" ng-model-options="{getterSetter: true}" />
		<button ng-if="!multipleSelection()" type="button" class="btn btn-xs btn-default" aria-label="Left Align" ng-click="select()(row)">
			<span class="glyphicon glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
	</cell>
</st-column>