<div ng-include="editor"></div>
<div class="panel panel-default">
	<div class="panel-heading">
		<a ng-click="showAttributes = !showAttributes">Step</a>
	</div>
	<div class="panel-body" ng-show="showAttributes">
		<fieldset ng-disabled="readonly">
			<div ng-if="!artefact.useDynamicName" class="form-group form-group-sm">
				<label>Name</label>
				<button class="btn btn-default btn-xs pull-right" ng-class="(artefact.useDynamicName) ? 'active' :''" style="margin-bottom:2px" type="button"
								title="Use an expression to replace dynamically the step name at execution time" ng-click="artefact.useDynamicName=!artefact.useDynamicName;save()">
					<span class="glyphicon glyphicon-flash" ></span>
				</button>
				<input ng-if="!artefact.useDynamicName" type="text" class="form-control" ng-blur="save()" ng-model="artefact.attributes.name" />


				<dynamic-textfield ng-if="artefact.useDynamicName" label="'Dynamic Name'" on-save="save()" dynamic-value="artefact.dynamicName"
				  default-value=""></dynamic-textfield>
			</div>
			<div ng-if="artefact.useDynamicName" class="form-group form-group-sm">
				<label class="smaller">Name</label>
				<button class="btn btn-default btn-xs pull-right" ng-class="(artefact.useDynamicName) ? 'active' :''" type="button"
								title="Use an expression to replace dynamically the step name at execution time" ng-click="artefact.useDynamicName=!artefact.useDynamicName;save()">
					<span class="glyphicon glyphicon-flash" ></span>
				</button>
				<dynamic-textfield label="'Dynamic Name'" on-save="save()" dynamic-value="artefact.dynamicName"></dynamic-textfield>
			</div>


			<div class="form-group">
				<label>Description</label>
				<textarea ng-blur="save()" ng-model="artefact.description" class="form-control" rows="5"></textarea>
			</div>
			<div class="form-group form-group-sm">
				<dynamic-checkbox tooltip="'Instrument this node to measure its execution time. A performance measurement will be created after each execution of this node.'" label="'Instrument'" on-save="save()" dynamic-value="artefact.instrumentNode"/>
				<dynamic-checkbox tooltip="'Switch to disable or enable the execution of this node.'" label="'Skip node execution'" on-save="save()" dynamic-value="artefact.skipNode"/>
				<dynamic-checkbox label="'Continue execution of parent element on error'" tooltip="'Defines if the execution of the parent sequence should continue when this node fails. Per default the execution of the sequence will stop in case of any error'" on-save="save()" dynamic-value="artefact.continueParentNodeExecutionOnError"/>
			</div>
		</fieldset>
	</div>
</div>
<hr />
<div>
	<!-- <i style="display:inline-block" class="glyphicon {{icon}}" />  -->
	<span class="text-muted small">{{label}}</span>
</div>