<div ng-controller="ArtefactSelectionCtrl">
	<st-table data="artefacts" handle="tableHandle" uid="'artefactSelectionTable'" 
				multiple-selection="multipleSelection" on-selection="notifySelection" selection-attribute="'name'">
		<st-columns>
			<st-column name="name">
				<header>Name</header>
				<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
				<cell><i style="display:inline-block" ng-class="artefactIcon(row.name)" /> {{row.name}}
					<span class="glyphicon glyphicon-question-sign" uib-tooltip="{{artefactDescription(row.name)}}" tooltip-append-to-body="true"></span>
				</cell>
			</st-column>
			<st-selection-column />
		</st-columns>
	</st-table>
</div>
