<div class="form-group-sm" ng-controller="AssertCtrl">
<fieldset ng-disabled="readonly">
	<form>		
		<dynamic-textfield label="'Output attribute'" on-save="save()" dynamic-value="artefact.actual" tooltip="'You can either use flat attributes of the output object or json path expressions.'"/>
		<div class="form-group form-group-sm">
			<label>Operator</label>
			<select ng-model="artefact.operator" ng-change="save()" ng-options="option.name as option.label for option in operatorTypes" class="form-control" />
		</div>
		<dynamic-textfield label="'Expected value'" on-save="save()" dynamic-value="artefact.expected" />
		<dynamic-checkbox label="'Negate the assertion'" on-save="save()" dynamic-value="artefact.doNegate" />
		<dynamic-textfield label="'Custom error message'" on-save="save()" dynamic-value="artefact.customErrorMessage" />
	</form>
</fieldset>
</div>