<div ng-controller="CallPlanCtrl">
	<div class="form-group" ng-if="artefact.planId">
		<label for="comment">Plan</label>
		<div class="input-group">
			<input ng-disabled="true" type="text" class="form-control" ng-model="planName" />
			<span class="input-group-btn">
				<button ng-if="artefact.planId" class="btn btn-default" type="button" ng-click="gotoPlan()"><span class="glyphicon glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
				<button class="btn btn-default" type="button" ng-disabled="readonly" ng-click="selectPlan()">Select</button>
			</span>
		</div>
	</div>
	<dynamic-json-editor ng-if="!artefact.planId" label="'Plan attributes'" dynamic-value="artefact.selectionAttributes" on-save="save()" />
	<fieldset ng-disabled="readonly">
		<dynamic-json-editor label="'Input'" dynamic-value="artefact.input" on-save="save()" />
	</fieldset>
</div>