<div ng-controller="CallFunctionCtrl">
	<div ng-if="!targetFunction.useCustomTemplate && ready">
		<div class="form-group" ng-if="artefact.functionId" >
			<label for="comment">Keyword</label>
			<div class="input-group">
				<input ng-disabled="true" type="text" class="form-control" ng-model="targetFunction.attributes.name" /> <span
					class="input-group-btn">
					<button ng-if="targetFunction" class="btn btn-default" type="button" ng-click="gotoFunction()">
						<span class="glyphicon glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span>
					</button>
					<button ng-if="targetFunction" class="btn btn-default" type="button" ng-click="openFunctionEditor()">
						<span class="glyphicon glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default" type="button" ng-disabled="readonly" ng-click="selectFunction()">Select</button>
				</span>
			</div>
		</div>
		<fieldset ng-disabled="readonly">
			<dynamic-json-editor ng-if="!artefact.functionId" label="'Keyword'" dynamic-value="artefact.function" on-save="save()" />
		</fieldset>
		
		<fieldset ng-disabled="readonly">
			<dynamic-json-editor label="'Input'" dynamic-value="artefact.argument" on-save="save()" />
			<dynamic-textfield label="'Map output to'" dynamic-value="artefact.resultMap" on-save="save()" />
			<div class="panel panel-default">
				<div class="panel-heading">
					<a ng-click="showTokenSelectionParameters = !showTokenSelectionParameters">Keyword routing</a>
				</div>
				<div class="panel-body" ng-show="showTokenSelectionParameters">
					<dynamic-json-editor label="'Agent token selectors'" dynamic-value="artefact.token" on-save="save()" />
				</div>
			</div>
		</fieldset>
	</div>
	<custom-json-editor ng-if="targetFunction.useCustomTemplate && ready" compile-html="targetFunction.htmlTemplate" args-value="artefact.argument.value" on-save="save()"/>
</div>