<div class="form-group-sm">
<fieldset ng-disabled="readonly">
	<form>		
		<dynamic-textfield label="'Start'" on-save="save()" dynamic-value="artefact.dataSource.start" />
		<dynamic-textfield label="'End'" on-save="save()" dynamic-value="artefact.dataSource.end" />
		<dynamic-textfield label="'Increment'" on-save="save()" dynamic-value="artefact.dataSource.inc" />
		<dynamic-textfield label="'Number of threads'" on-save="save()" dynamic-value="artefact.threads" />
		<dynamic-textfield label="'Maximum number of failures'" on-save="save()" dynamic-value="artefact.maxFailedLoops" />
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<a ng-click="showHandles = !showHandles">Handles</a>
			</div>
			<div class="panel-body" ng-show="showHandles">
				<dynamic-textfield label="'Counter variable (handle)'" on-save="save()" dynamic-value="artefact.item" />
				<dynamic-textfield label="'UserId variable (handle)'" on-save="save()" dynamic-value="artefact.userItem" />
				<dynamic-textfield label="'Global counter variable (handle)'" on-save="save()" dynamic-value="artefact.globalCounter" />
			</div>
		</div>
	</form>
</fieldset>
</div>