<div class="form-group-sm">
<fieldset ng-disabled="readonly">
	<form>
		<dynamic-textfield label="'Max tries'" tooltip="'Maximum number of tries if child nodes execution fails'" on-save="save()" dynamic-value="artefact.maxRetries" />
		<dynamic-textfield label="'Grace period (ms)'" tooltip="'Duration to wait after a failed attempt'" on-save="save()" dynamic-value="artefact.gracePeriod" />
		<dynamic-textfield label="'Timeout'" tooltip="'Maximum execution time for the whole execution retries'" on-save="save()" dynamic-value="artefact.timeout" />
		<!-- <ng-include src="'partials/artefacts/waitingArtefactsAdvanced.html'"></ng-include> -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<a ng-click="showAdvancedAttributes = !showAdvancedAttributes">Advanced</a>
			</div>
			<div class="panel-body ng-hide" ng-show="showAdvancedAttributes">
				<div class="form-group form-group-sm">
					<dynamic-checkbox
						tooltip="'Caution! When enabled this option releases all agent tokens before entering a waiting state. New Tokens will have to be reserved to continue the execution. This also means that the session context will be deleted, if any objects were stored in session, they will have to be recreated and stored again.'"
						label="'Release Tokens'" on-save="save()"
						dynamic-value="artefact.releaseTokens" />
					<dynamic-checkbox tooltip="'If enabled, only the final iteration will be reported.'" label="'Report only last iteration'" on-save="save()" dynamic-value="artefact.reportLastTryOnly"/>
				</div>
			</div>
		</div>
	</form>
</fieldset>
</div>