<div class="form-group-sm">
<fieldset ng-disabled="readonly">
	<form>
		<dynamic-checkbox label="'Continue sequence execution on errors in child elements'" tooltip="'Defines if the execution of this sequence should continue when on of the children node fails'" on-save="save()" dynamic-value="artefact.continueOnError" />
		<div class="panel panel-default">
			<div class="panel-heading">
				<a ng-click="showAdvanced = !showAdvanced">Advanced</a>
			</div>
			<div class="panel-body" ng-show="showAdvanced">
				<dynamic-textfield label="'Pacing (ms)'" on-save="save()" dynamic-value="artefact.pacing" />
			</div>
		</div>
	</form>
</fieldset>
</div>