<div class="form-group-sm">
<fieldset ng-disabled="readonly">
	<form>
		<dynamic-textfield label="'Condition'" tooltip="'Condition to be evaluated at the beginning of each iteration'" on-save="save()" dynamic-value="artefact.condition" />
		<dynamic-textfield label="'Post Condition'" tooltip="'Condition to be evaluated at the end of each iteration'" on-save="save()" dynamic-value="artefact.postCondition" />
		<dynamic-textfield label="'Pacing'" tooltip="'Minimum execution time for the node content to be executed" on-save="save()" dynamic-value="artefact.pacing" />
		<dynamic-textfield label="'Timeout'" tooltip="'Stop the execution after the defined value (serves as a security to not enter in an endless loop)'" on-save="save()" dynamic-value="artefact.timeout" />
		<dynamic-textfield label="'MaxIterations'" tooltip="'Stop the execution after the defined amount of iterations (serves as a security to not enter in an endless loop)'" on-save="save()" dynamic-value="artefact.maxIterations" />
	</form>
</fieldset>
</div>