<div ng-controller="ExecutionTabsCtrl">
<!-- <tabset>
    <tab heading="Execution list" ng-controller="ExecutionListCtrl">
		<div class="panel-body">
			<div class="pull-right">
				<div class="btn-group">
					<button type="button" ng-click="openExecutionProgressTabForSelection()" class="btn btn-default btn-xs">Progress</button>
					<button type="button" ng-click="removeSelected()" class="btn btn-default btn-xs">Disable</button>
				</div>
			</div>			
		</div>
		<div class="panel-body">
			<datatable dataArray="data" selectionmode="multiple" columns="columns" columnsearch="true" serverside="executions"/>
		</div>
	</tab>

	<tab ng-repeat="tab in tabs track by tab.id" active="tab.active">
		<tab-heading>
		{{tab.id}} 		
		<button type="button" class="close" ng-click="closeTab(tab.id)">
	        <span aria-hidden="true">×</span>
	        <span class="sr-only">Close</span>
	    </button>
		</tab-heading>
		<div class="panel-body">
      		<execution-progress eid="{{tab.id}}"/>
      	</div>
    </tab>
</tabset>
</div>	 -->
	
	<ul class="nav nav-tabs">
	  <li role="presentation" ng-class="{active: isTabActive(tab.id)}" ng-repeat="tab in tabs track by tab.id">
	  <!-- ng-click="selectTab(tab.id)" -->
	  	<a ng-click="selectTab(tab.id)" ><span ng-if="tab.type=='progress'&&getTabStatus(tab.id)!='ENDED'"><i class="executionStatus status-{{getTabStatus(tab.id)}}" ng-class="getTabStatus(tab.id)!='ENDED'?'glyphicon glyphicon-refresh icon-refresh-animate':''"/></span> {{tab.title}} <i class="glyphicon glyphicon-remove" ng-click="closeTab(tab.id)" aria-hidden="true"/> </a>
	  </li>
	</ul>
	
	
	<div class="tab-content">
		<div class="tab-pane ng-scope" ng-repeat="tab in tabs track by tab.id" ng-class="{active: isTabActive(tab.id)}">
			<div ng-if="tab.type=='list'" ng-controller="ExecutionListCtrl">
				<div class="toolbar">
					<button type="button" class="btn btn-default btn-xs" ng-model="autorefresh" btn-checkbox ><span class="glyphicon glyphicon-refresh"/></button>
				</div>
				<!-- <div class="panel-body">
					<div class="pull-right">
						<div class="bt	n-group">
							<button type="button" ng-click="openExecutionProgressTabForSelection()" class="btn btn-default btn-xs">Progress</button>
							<button type="button" ng-click="removeSelected()" class="btn btn-default btn-xs">Disable</button>
						</div>
					</div>
				</div> -->
				<div class="panel-body">
					<datatable dataArray="data" handle="table" tabledef="tabledef" columnsearch="true" serverside="executions" order="[[2, &quot;desc&quot;]]" />
				</div>
			</div>
			<div class="panel-body" ng-if="tab.type=='progress'">
				<execution-progress eid="tab.id" status-update="updateTabStatus" title-update="updateTabTitle" close-tab="closeTab(tab.id)" active="isTabActive(tab.id)" />
			</div>
		</div>
	</div>
</div>

<!-- 		<button type="button" class="close" ng-click="closeTab(tab.id)">
	        <span aria-hidden="true">×</span>
	        <span class="sr-only">Close</span>
	    </button>
		</tab-heading>
		<div class="panel-body">
      		<execution-progress eid="{{tab.id}}"/>
      	 -->
	