<div id="SelectEntityCtrl" class="modal-header">
    <h3 class="modal-title">Select entities</h3>
</div>

<div class="modal-body">
        <div ng-if="entityTableLoaded">
            <datatable dataArray="data" handle="table" tabledef="tabledef" columnsearch="true" serverside="{{collection}}" order="[[1, &quot;desc&quot;]]"> </datatable>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="proceed()">Proceed</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>