<div id="SelectEntityCtrl" class="modal-header">
    <h3 class="modal-title">Select entities</h3>
</div>

<div class="modal-body">
        <st-table collection="collection" handle="tableHandle" uid="'entityList'" persist-state="false">
            <st-columns>
                <st-column name="id">
                    <header>ID</header>
                    <second-header>
                    </second-header>
                   <cell><span>{{row._id.$oid}}</span></cell>
                </st-column>
                <st-column name="attributes.name">
                    <header>Name</header>
                    <second-header>
                        <inputdropdown action="search" initial-value="initialValue"></inputdropdown>
                    </second-header>
                    <cell><span>{{row.attributes.name}}</span></cell>
                </st-column>
                <st-column>
                    <header>Actions</header>
                    <cell>
                        <div class="btn-group">
                            <input type="checkbox" ng-click="toggle(row._id.$oid)" >
                        </div>
                    </cell>
                </st-column>
            </st-columns>
        </st-table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="proceed()">Proceed</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>