a { cursor: pointer; }

.navbar-default .navbar-nav>li>div {
	padding-top: 15px;
    padding-bottom: 15px;
}

.toolbar {
	position: absolute;
	top: 15px;
	right: 150px;
}

.status-UNKNOW {
	background:#dadada;
	color:#dadada
}

.status-ENDED {
	background:gray;
	color:gray
}

.status-INITIALIZING {
	background:gray;
	color:gray;
}

.status-IMPORTING {
	background:orange;
	color:orange;
}

.status-EXPORTING {
	background:orange;
	color:orange;
}

.status-RUNNING {
	background:#337ab7;
	color:#337ab7;
}

.status-ABORTING {
	background:#d9534f;
	color:#d9534f;
}

.status-SKIPPED {
	background:#A0A0A0;
	color:#A0A0A0;
}

.status-NORUN {
	background:#A0A0A0;
	color:#A0A0A0;
}
	  
.status-PASSED {
	background:#5cb85c;
	color:#5cb85c;
}

.status-FAILED {
	background:#d9534f;
	color:#d9534f;
}

.status-TECHNICAL_ERROR {
	background:black;
	color:black;
}

.status-INTERRUPTED {
	background:#f9c038;
	color:#f9c038;
}

.statusSummary {
	color: white;
}

.executionResult {
	background: transparent;
	/* glyphicon size */
	font-size: 100%;
}

.smaller {
	/* glyphicon size */
	font-size: 75%;
}

.executionStatus {
	color: white;
	padding: 4px;
	border-radius: 4px;
	font-size: 75%;
}

.reportNodeIcon {
	background: transparent;
}

.reportNodeStatus {
	color: white;
	padding: 4px;
	border-radius: 4px;
	font-size: 75%;
}

button.btn-run {
    color: #fff;
    background-color: #337ab7;
    border-color: #2d6ca2;
}	  
	  
.selected {
	background:#abb9d3;
}

table.dataTable {
	word-break:break-all;
}

table.dataTable thead > tr > th {
	padding-left: 8px;
	padding-right: 8px;
}

table.dataTable.table-hover tbody tr:hover.selected {
  background-color: #a9b7d1;
}

table.dataTable thead div, table.dataTable thead input.form-control {
	width: 100%;
}

table.dataTable thead tr.tableactions div {
	width: auto;
}

table.dataTable thead input.form-control {
  padding: 3px 6px;
}

.icon-invisible {
    visibility: hidden;
}

.dropdown-menu>li>label {
display: block;
padding: 3px 20px;
clear: both;
font-weight: 400;
line-height: 1.42857143;
color: #333;
white-space: nowrap;
}

.icon-refresh-animate {
	animation-name: rotateThis;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

ul.node-details {
	margin-left: 15px;
	margin-right: 15px;
}

table.stacktrace {
	margin-top: 5px;
}
table.stacktrace td {
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer {
	width: 100%;
}
.wrapper {
	position: absolute;
	top: 33%;
	width: 100%;
}

.form-signin {
  max-width: 380px;
  padding: 25px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

.text-grey {
	color: #777;
}

ul.attribute-list li p {
    margin: 0;
    padding: 0;
}

ul.attribute-list li {
    margin-bottom: 20px;
}

hr {
	margin-bottom: 5px;
	margin-top: 5px;
}

.btn-group-menu {
	margin-left: 15px;
}

/* .btn-group-menu > .btn {
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
} */

div.progress {
	margin-bottom: 0px;
}

.icon-tree {
    background: url(../images/tree.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 18px;
    display: block;
}

/* Loading button */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
/* Loading button */

.token-status {
	color: white;
	padding: 4px;
	border-radius: 10px;
	font-size: 75%;
	width: 100px;
}

.token-status-IN_USE {
	background:#337ab7;
}

.token-status-ERROR {
	background:black;
}

.token-status-FREE {
	background:#5cb85c;
}

.token-status-MAINTENANCE_REQUESTED {
	background:#749dc0;
}

.token-status-MAINTENANCE {
	background:#fbd544;
}

.agent-type {
	display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.agent-type-default {
    background: #007396;
}

.agent-type-node {
    background: #6cc24a;
}

.agent-type-dotnet {
    background: #ffbb00;
}

.json-key-value {
	margin-right:7px;
	display: inline;
	color:#555;
}
.json-key {
	margin-right:2px;
	font-size: smaller;
	font-weight: lighter;
}
.json-value {
	color:#555;
}

.btn-default.active {
	color: #fff;
	background-color: #337ab7;
	border-color: #275b88;
}

.attachments-preview {
	margin-top: 5px;
}

.attachment-preview {
	display: inline-block;
	margin-right: 5px;
    margin-bottom: 5px;
	border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px;
}

.attachment-preview-label {
    text-decoration: none;
    font-size: 85%;
    color: #5f6368;
}

.attachment-preview-icon {
	margin-right: 5px;
}


.attachment-thumbnail {
	transition: transform .2s;
    transition-delay: 1s;
    width: 150px;
    margin-bottom: 2px;
}

img.attachment-thumbnail:hover {
  transform: scale(3);
}

table.executionTableResult td {
	padding-right:10px;
}

.form-group-sm .input-group .btn-auto-size {
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}