<div class="modal-header">
	<h3 class="modal-title">{{mode=='edit'?'Edit':'New'}} Resource</h3>
</div>
<div class="modal-body">
	<strong>{{description}}</strong>
	<form ng-submit="save()">
		<div class="form-group">
			<label>Name</label> 
			<input class="form-control"	ng-model="resource.resourceName" autofocus>
		</div>
		<div class="form-group">
			<label>Type</label> 
			<input disabled class="form-control"	ng-model="resource.resourceType">
		</div>
		<div class="form-group" >
			<label>Content</label>
			<div class="input-group">
				<div ngf-drop="upload($file)" uib-tooltip="Drag and drop the resource file here">
					<input readonly="readonly" type="text" class="disabled form-control" ng-model="resource.resourceName" />
				</div>
				<div class="input-group-btn">
					<a class="btn btn-default" href="rest/resources/{{resource.id}}/content">
						<span class="glyphicon glyphicon-download-alt" aria-hidden="true" uib-tooltip="Download this file"></span>
					</a>
					<button type="button" class="btn btn-default" ng-click="openFileChooser()" uib-tooltip="Select from file system">
						<span class="glyphicon glyphicon-folder-open"></span>
					</button>
				</div>
			</div>
			<input type="file" id="fileInput" style="display:none" ng-model="myFiles" ngf-select="upload($file)"/>
			<uib-progressbar ng-if="uploading" max="100" value="progress"><b>{{progress}}%</b></uib-progressbar>
		</div>
		
		<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="save()">Save</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>