<!DOCTYPE html>
<html ng-app="tecAdminApp">

<head>

<script type="text/javascript">
window.console = window.console || {};
window.console.log = window.console.log || function(){};
</script>

<script type="text/javascript" src="js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.dataTables-1.10.4.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap-3.3.2.min.js"></script>
<script type="text/javascript" src="js/lib/dataTables.bootstrap.js"></script>


<script	src="js/lib/angular-1.3.14.js"></script>
<script	src="js/lib/angular-route-1.3.14.js"></script>
<script	src="js/lib/angular-cookies-1.3.14.js"></script>
<script	src="js/lib/ui-bootstrap-tpls-0.13.4.js"></script>

<script type="text/javascript" src="js/lib/ngStorage.js"></script>
<script type="text/javascript" src="js/lib/angular-ui-router.js"></script>

<script src="js/common.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/controllers/scheduler.js"></script>
<script src="js/controllers/grid.js"></script>
<script src="js/controllers/artefacts.js"></script>
<script src="js/controllers/functions.js"></script> 
<script src="js/controllers/repository.js"></script>
<script src="js/controllers/artefactEditor.js"></script>
<script src="js/controllers/reportBrowser.js"></script>
<script src="js/controllers/admin.js"></script>

<script src="js/tables.js"></script>

<script src="js/lib/moment.js"></script>
<script src="js/lib/d3.min.js"></script>
<script src="js/lib/line-chart.js"></script>
<script src="js/lib/Chart.js"></script>
<script src="js/lib/angular-chart.js"></script>
<link rel="stylesheet" type="text/css" href="js/lib/angular-chart.css">
<script src="js/lib/line-chart.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/prefixfree.min.js"></script>
<script src="js/lib/fileDownload.js"></script>
<script src="js/lib/jstree.js"></script>


<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css"> -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/step.css">
<link rel="stylesheet" type="text/css" href="css/lib/style.css">


<!-- <script src="js/angular-datatables.min.js"></script>
 -->
 <title>STEP</title>
</head>

<body>

<div ng-controller="AppController">
	<div ng-if="isInitialized && authService.isAuthenticated()">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
	<!-- 				<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button> -->
					<a class="navbar-brand">
						<img alt="" src="images/logo_step_line_black.png" style="max-width:100px; margin-top: -3px;">						
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li ng-class="{ active: isViewActive('artefacts') }"><a
							ui-sref="grid" ng-click="setView('artefacts')">Plans</a></li>
						<li ng-class="{ active: isViewActive('functions') }"><a
							ui-sref="grid" ng-click="setView('functions')">Keywords</a></li>
						<li ng-class="{ active: isViewActive('executions') }"><a
							ui-sref="execution" ng-click="setView('executions')">Executions</a></li>
						<li ng-class="{ active: isViewActive('reportBrowser') }"><a
							ui-sref="reportBrowser" ng-click="setView('reportBrowser')">Reports</a></li>	
						<li ng-class="{ active: isViewActive('scheduler') }"><a
							ui-sref="scheduler" ng-click="setView('scheduler')">Scheduler</a></li>
						<li ng-if="authService.hasMininumRole('developer')" ng-class="{ active: isViewActive('grid') }"><a
							ui-sref="grid" ng-click="setView('grid')">Grid</a></li>
						<li ng-if="authService.hasMininumRole('admin')" ng-class="{ active: isViewActive('admin') }"><a
							ui-sref="admin" ng-click="setView('admin')">Admin</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a ng-click="setView('myaccount')">{{context.userID}} [{{context.role}}]</a></li>
					</ul>
				</div>
			</div>
			<!--/.container-fluid -->
		</nav>
	
		<div class="container-fluid">
			<!-- <div ui-view></div> -->
			<div ng-if="isViewActive('artefacts')" ng-compiled-include="partials/artefactList.html"></div>
	        <div ng-if="authService.hasMininumRole('user') && isViewActive('grid')" ng-compiled-include="partials/grid.html"></div>
	        <div ng-if="isViewActive('executions')" ng-compiled-include="partials/execution.html"></div>
	        <div ng-if="isViewActive('scheduler')" ng-compiled-include="partials/scheduler.html"></div>
	        <div ng-if="isViewActive('repository')" ng-compiled-include="partials/repository.html"></div>
	        <div ng-if="isViewActive('functions')" ng-compiled-include="partials/functionList.html"></div>
	        <div ng-if="isViewActive('artefacteditor')" ng-compiled-include="partials/artefactEditor.html"></div>
	        <div ng-if="isViewActive('reportBrowser')" ng-compiled-include="partials/reportBrowser.html"></div>
	        <div ng-if="isViewActive('admin')" ng-compiled-include="partials/admin.html"></div>
	        <div ng-if="isViewActive('myaccount')" ng-compiled-include="partials/myaccount.html"></div>
	        
		</div>
	</div>
	<div ng-if="isInitialized && !authService.isAuthenticated()" ng-compiled-include="partials/loginForm.html">
	</div>
</div>

<footer>
<div class="container">
<p style="text-align: center;">
STEP 3.1.1 - Copyright (c) 2016
</p>
</div>
</footer>

</body>
</html>