<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<script type="text/javascript">
window.console = window.console || {};
window.console.log = window.console.log || function(){};
</script>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/chart.js/dist/Chart.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
<script src="bower_components/datatables.net-select/js/dataTables.select.js"></script>
<script src="bower_components/jstree/dist/jstree.js"></script>
<script src="bower_components/jquery-file-download/src/Scripts/jquery.fileDownload.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/angular-resizable/src/angular-resizable.js"></script>

<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/nvd3/build/nv.d3.js"></script>
<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<script src="bower_components/exense-visualization/dist/viz.js"></script>
<!-- endbower -->

<link rel="icon" type="image/png" href="favicon.png">

<script src="js/bootstrap.js"></script>
<script src="js/common.js"></script>
<script src="js/app.js"></script>
<script src="js/views.js"></script>
<script src="js/ntables.js"></script>
<script src="js/tables.js"></script>
<script src="js/chart.js"></script>
<script src="js/export.js"></script>
<script src="js/controllers.js"></script>
<script src="js/controllers/scheduler.js"></script>
<script src="js/controllers/grid.js"></script>
<script src="js/controllers/plans.js"></script>
<script src="js/controllers/planEditor.js"></script>
<script src="js/controllers/artefacts.js"></script>
<script src="js/controllers/functions.js"></script> 
<script src="js/controllers/parameters.js"></script>
<script src="js/controllers/resources.js"></script>
<script src="js/controllers/dashboards.js"></script>
<script src="js/controllers/executions.js"></script> 
<script src="js/controllers/screenConfiguration.js"></script>
<script src="js/controllers/repository.js"></script>
<script src="js/controllers/reportNodes.js"></script>
<script src="js/controllers/reportBrowser.js"></script>
<script src="js/controllers/reportTree.js"></script>
<script src="js/controllers/reportTable.js"></script>
<script src="js/controllers/admin.js"></script>
<script src="js/controllers/dynamicForms.js"></script>
<script src="js/controllers/components.js"></script>

<script src="js/viz-presets.js"></script>

<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.css" />
<link rel="stylesheet" href="bower_components/datatables.net-select-dt/css/select.dataTables.css" />
<link rel="stylesheet" href="bower_components/jstree/dist/themes/default/style.css" />
<link rel="stylesheet" href="bower_components/tachyons/css/tachyons.css" />
<link rel="stylesheet" href="bower_components/angular-resizable/angular-resizable.min.css" />

<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
<link rel="stylesheet" href="bower_components/exense-visualization/dist/viz.css">
<!-- endbower -->
<link rel="stylesheet" type="text/css" href="css/step.css">
<link rel="stylesheet" type="text/css" href="js/chart.css">


 <title>STEP</title>
</head>

<body>
<script>step.bootstrap();</script>
<div ng-controller="AppController">
	<div ng-if="isInitialized && (authService.isAuthenticated() || isPublicView())" ng-include="'partials/main.html'">
	</div>
	<div ng-if="isInitialized && !(authService.isAuthenticated() || isPublicView())" ng-include="'partials/loginForm.html'">
	</div>
</div>

<footer>
<div class="container">
<p style="text-align: center;">
STEP ${project.version} - Copyright (c) 2013 - 2019
</p>
</div>
</footer>

</body>
</html>