<div id="PlanEditorCtrl" ng-controller="PlanEditorCtrl" class="container-fluid">
	<div ng-if="isInteractiveSessionActive()" class="alert alert-info" role="alert">Welcome to the interactive mode. In this mode you can select tree nodes and run them directly by clicking the button 'Run interactively'</div>
	<div class="row flex-l">
		<div class="w-100 sectionResizable sectionViewPlanEditor" resizable r-directions="['right']" r-flex="true">
			<div class="panel panel-default overflow-x-auto overflow-y-hidden">
				<div class="panel-heading">{{plan.root?plan.root._class:''}} - {{plan.attributes.name}}
					<div class="pull-right">
						<button type="submit" class="btn btn-default btn-xs" ng-click="clonePlan()">Clone</button>
						<button type="submit" class="btn btn-default btn-xs" ng-click="exportPlan()">Export</button>
						<div class="btn-group" style="margin-right:5px;">
							<button ng-disabled="isInteractiveSessionActive()" type="submit" class="btn btn-default btn-xs" ng-click="startInteractive()">Start interactive session</button>
							<button ng-if="isInteractiveSessionActive()" type="submit" class="btn btn-default btn-xs" ng-click="resetInteractive()">Reset</button>
							<button ng-if="isInteractiveSessionActive()" type="submit" class="btn btn-default btn-xs" ng-click="stopInteractive()">Stop</button>						
							<button ng-if="isInteractiveSessionActive()" type="button" class="btn btn-default btn-xs" uib-popover-template="'executionParametersPopover.html'" popover-placement="bottom">Session parameters</button>					
						</div>
						<div class="btn-group">
							<button uib-popover-template="'executionCommandsPopover.html'" popover-placement="bottom-right" type="submit" class="btn btn-default btn-xs btn-run" title="Execute this plan" ng-click="execute()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
				  		</div>
				  	</div>
				 </div>
				<div class="panel-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<st-custom-form st-model="plan" st-on-change="save()" st-screen="artefactTable" st-inline="true" st-disabled="!authService.hasRight('plan-write')"/>
						</div>
					</div>
					<plan-tree-editor handle="handle" plan="plan" st-on-change="save()" interactive-session-handle="interactiveSession" />
				</div>
			</div>	
		</div>
		

		
		<div class="minw-450 sectionResizable resizable-panel-right">
			<div class="panel panel-default overflow-x-auto h-100">
				<div class="panel-heading flex flex-row p1">
					<div class="w-100 auto-margin">Available components</div>
				</div>
				<div class="panel-body">
						<uib-tabset  active="componentTabs.selectedTab">
							<uib-tab heading="Controls">
								<div class="panel-body">
									<div class="row">
										<datatable tabledef="controlsTable" handle="controlsTable" columnsearch="true" order="[[1, &quot;asc&quot;]]"/>
									</div>								
								</div>	
							</uib-tab>
							<uib-tab heading="Keywords">
								<div class="row">
									<div class="panel-body">	
										<datatable handle="table" tabledef="tabledef" columnsearch="true" serverside="functions" order="[[1, &quot;desc&quot;]]" />
									</div>		
								</div>				
							</uib-tab>
							<uib-tab heading="Other plans">
								<div class="row">
									<div class="panel-body">
										<st-table collection="'plans'" handle="otherPlansTable" uid="'planEditorOtherPlans'" persist-state="true">
											<st-columns>
												<st-column name="attributes.name">
													<header>Name</header>
													<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
													<cell>{{row.attributes.name}}</cell>
												</st-column>
												<st-column name="root._class">
													<header>Type</header>
													<second-header><inputdropdown action="search" initial-value="initialValue"></inputdropdown></second-header>
													<cell>{{row.root._class}}</cell>
												</st-column>
												<st-column>
													<header>Actions</header>
													<cell>
														<button type="button" class="btn btn-default  btn-xs" aria-label="Left Align" 
													          ng-click="addPlan(row._id.$oid)">
													    	<span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
													    </button>
									          		</cell>
												</st-column>
											</st-columns>
										</st-table>
									</div>
								</div>				
							</uib-tab>
							<uib-tab heading="Console" ng-if="isInteractiveSessionActive()">
								<div class="row">
									<div class="panel-body">
										<datatable serverside="reports" tabledef="stepsTable" handle="stepsTable" selectionmode="single" columnsearch="true" order="[[1, &quot;desc&quot;]]" />
									</div>		
								</div>				
							</uib-tab>
						</uib-tabset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="executionParametersPopover.html">
<execution-parameters model="executionParameters" />
</script>
<script type="text/ng-template" id="executionCommandsPopover.html">
<execution-commands description="plan.attributes.name" artefact="artefactRef()" />
</script>