<div ng-controller="CompositeFunctionFormCtrl" class="form-group-sm">
	<form>
		<div class="input-group">
			<input ng-disabled="true" type="text" class="form-control" ng-model="function_.planId" />
			<span class="input-group-btn">
				<button ng-if="function_.artefactId" class="btn btn-sm btn-default" type="button" ng-click="gotoArtefact()"><span class="glyphicon glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
				<button class="btn btn-sm btn-default" type="button" ng-click="selectPlan()">Select</button>
			</span>
		</div>
	</form>
</div>