<div ngf-drop="upload($file)">
	<div ng-if="isResource()">
		<div ng-if="!resourceNotExisting" class="input-group">
			<input readonly="readonly" type="text" class="form-control" ng-model="resourceFilename" uib-tooltip="Drag and drop your file here or enter the path to a file accessible from the controller" >
			<div class="input-group-btn">
				<a class="btn btn-default btn-auto-size" href="rest/resources/{{getResourceId()}}/content">
					<span class="glyphicon glyphicon-download-alt" aria-hidden="true" uib-tooltip="Download this file"></span>
				</a>
				<button type="button" class="btn btn-default btn-auto-size" ng-click="openFileChooser()" uib-tooltip="Select from file system">
					<span class="glyphicon glyphicon-folder-open"></span>
				</button>
				<button ng-disabled="uploadOnly" class="btn btn-default btn-auto-size" ng-click="selectResource()">
					<span class="glyphicon glyphicon-search" aria-hidden="true" uib-tooltip="Select an existing resource"></span>
				</button>
				<button class="btn btn-default btn-auto-size" ng-click="clear()">
					<span class="glyphicon glyphicon-remove" aria-hidden="true" uib-tooltip="Clear"></span>
				</button>
			</div>
		</div>
		<div ng-if="resourceNotExisting" class="input-group">
			<input readonly="readonly" type="text" class="form-control" value="Error: the referenced resource doesn't exist anymore." uib-tooltip="Drag and drop your file here or enter the path to a file accessible from the controller" >
			<div class="input-group-btn">
				<button class="btn btn-default btn-auto-size" ng-click="clear()">
					<span class="glyphicon glyphicon-remove" aria-hidden="true" uib-tooltip="Clear"></span>
				</button>
			</div>
		</div>			
	</div>
	<div ng-if="!isResource()" class="input-group" >
		<input type="text" multi-line-input="" class="form-control" ng-model="stagingModel.value" ng-blur="blurStagingField()" uib-tooltip="Drag and drop your file here or enter the path to a file accessible from the controller" />
		<div class="input-group-btn">
			<button ng-if="showSaveButton()" ng-disabled="stagingModel.value==stModel" class="btn btn-default btn-auto-size" ng-click="commitChanges()">{{saveButtonLabel}}</button>
			<button ng-disabled="uploadOnly" class="btn btn-default btn-auto-size" ng-click="selectResource()">
				<span class="glyphicon glyphicon-search" aria-hidden="true" uib-tooltip="Select an existing resource"></span>
			</button> 	
			<button type="button" class="btn btn-default btn-auto-size" ng-click="openFileChooser()" uib-tooltip="Select from file system">
				<span class="glyphicon glyphicon-folder-open"></span>
			</button>
		</div>
	</div>
</div>
<input type="file" id="fileInput" style="display:none" ng-model="myFiles" ngf-select="upload($file)"/>
<uib-progressbar ng-if="uploading" max="100" value="progress"><b>{{progress}}%</b></uib-progressbar>