<div class="form-group-sm" ng-controller="AssertCtrl">
<fieldset ng-disabled="readonly">
	<form>		
		<dynamic-textfield label="'Output value'" on-save="save()" dynamic-value="artefact.actual" />
		<div class="form-group form-group-sm">
			<label>Operator</label>
			<select ng-model="artefact.operator" ng-change="save()" ng-options="option.name as option.label for option in operatorTypes" class="form-control" />
		</div>
		<dynamic-textfield label="'Expected value'" on-save="save()" dynamic-value="artefact.expected" />
	</form>
</fieldset>
</div>