<div ng-controller="CallFunctionCtrl">
	<div class="form-group">
		<label for="comment">Function</label>
		<div class="input-group">
			<input ng-disabled="true" type="text" class="form-control" ng-model="targetFunction.attributes.name" /> <span
				class="input-group-btn">
				<button ng-if="targetFunction" class="btn btn-default" type="button" ng-click="gotoFunction()">
					<span class="glyphicon glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span>
				</button>
				<button ng-if="targetFunction" class="btn btn-default" type="button" ng-click="openFunctionEditor()">
					<span class="glyphicon glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</button>
				<button class="btn btn-default" type="button" ng-disabled="readonly" ng-click="selectFunction()">Select</button>
			</span>
		</div>
	</div>
	<fieldset ng-disabled="readonly">
		<dynamic-json-editor label="'Input'" dynamic-value="artefact.argument" on-save="save()" />
	</fieldset>
</div>