<div class="form-group-sm">
<fieldset ng-disabled="readonly">
	<form>		
		<dynamic-textfield label="'Start'" on-save="save()" dynamic-value="artefact.dataSource.start" />
		<dynamic-textfield label="'End'" on-save="save()" dynamic-value="artefact.dataSource.end" />
		<dynamic-textfield label="'Increment'" on-save="save()" dynamic-value="artefact.dataSource.inc" />
		<dynamic-textfield label="'Number of threads'" on-save="save()" dynamic-value="artefact.threads" />
		<dynamic-textfield label="'Row handle'" on-save="save()" dynamic-value="artefact.item" />
	</form>
</fieldset>
</div>