<div ng-controller="ForEachCtrl" class="form-group-sm">
	<form>
	<div class="form-group">
		<label>Source type</label> 
		<select ng-model="artefact.dataSourceType" ng-change="save()" ng-options="option.name as option.label for option in dataSourceTypes" class="form-control" />	
	</div>
	
	<div ng-if="artefact.dataSourceType=='excel'">
		<div class="form-group">
			<label>Excel file</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="artefact.dataSource.file" ng-blur="save()" /> 
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="selectSource()">Select</button>
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<label>Worksheet</label>
			<input type="text" class="form-control" ng-blur="save()" ng-model="artefact.dataSource.worksheet" /> 
		</div>

		<div class="form-group">
			<label>
				<input type="checkbox" ng-change="save()" ng-model="artefact.dataSource.headers"> 
				<span class="ng-binding">Headers</span>
			</label>
		</div>
	</div>
	
	<div ng-if="artefact.dataSourceType=='csv'">
		<div class="form-group">
			<label>CSV file</label>
			<div class="input-group">
				<input type="text" class="form-control"  ng-blur="save()" ng-model="artefact.dataSource.file" /> 
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="selectSource()">Select</button>
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<label>Delimiter</label>
			<input type="text" class="form-control"  ng-blur="save()" ng-model="artefact.dataSource.delimiter" /> 
		</div>

		<div class="form-group">
			<label>
				<input type="checkbox"  ng-blur="save()" ng-model="artefact.dataSource.headers"> 
				<span class="ng-binding">Headers</span>
			</label>
		</div>
	</div>
	
	<div ng-if="artefact.dataSourceType=='sql'">
		<div class="form-group">
			<label>Connection string</label>
			<input type="text" class="form-control"  ng-blur="save()" ng-model="artefact.dataSource.connectionString" /> 
		</div>
		
		<div class="form-group">
			<label>Query</label>
			<input type="text" class="form-control"  ng-blur="save()" ng-model="artefact.dataSource.query" /> 
		</div>
	</div>
	
	<div ng-if="artefact.dataSourceType=='file'">
		<div class="form-group">
			<label>Flat file</label>
			<div class="input-group">
				<input type="text" class="form-control"  ng-blur="save()" ng-model="artefact.dataSource.file" /> 
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="selectSource()">Select</button>
				</span>
			</div>
		</div>
	</div>
	
	<div ng-if="artefact.dataSourceType=='folder'">
		<div class="form-group">
			<label>Directory</label>
			<div class="input-group">
				<input type="text" class="form-control"  ng-blur="save()" ng-model="artefact.dataSource.folder" /> 
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="selectSource()">Select</button>
				</span>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label>Number of threads</label>
		<input ng-blur="save()" ng-model="artefact.threads" class="form-control form-control-sm"></input>
	</div>
	
	<div class="form-group">
		<label>Name of the row variable</label>
		<input ng-blur="save()" ng-model="artefact.item" class="form-control form-control-sm"></input>
	</div>
	
	</form>
</div>