<div>
	
	<div>
		<button ng-if="!isShowDetails" type="button" class="btn btn-default btn-xs" uib-tooltip="Show/hide details" tooltip-append-to-body="true" ng-click="toggleDetails()">
			<span class="glyphicon glyphicon-chevron-right" />
		</button>
		<button ng-if="isShowDetails" type="button" class="btn btn-default btn-xs" uib-tooltip="Show/hide details" tooltip-append-to-body="true" ng-click="toggleDetails()">
			<span class="glyphicon glyphicon-chevron-down" />
		</button>
		<report-node-icon node="node" class="text-margin-left"/>
		<!-- node.resolvedArtefact has been introduced with 3.6.0. We're checking it here for retrocompatibility. Remove this check has soon as possible -->
		{{node._class=='step.artefacts.reports.CallFunctionReportNode'?concatenate(node.functionAttributes):(node.resolvedArtefact?artefactTypes.getLabel(node.resolvedArtefact._class):node.name)}}
		<span class="text-margin-left text-muted small">{{node.name}}</span>
		<span ng-if="includeStatus" class="pull-right text-margin-left" style="margin-bottom:10px;" ><reportnode-status status="node.status" /></span>
		<span class="pull-right"><attachments node="node" /></span>
		<span class="pull-right" style="margin-right:5px">
			<div class="btn-group btn-group-menu">
				<button type="button" class="btn btn-default btn-xs" uib-tooltip="Show this node in the tree view" tooltip-append-to-body="true" ng-click="executionViewServices.showNodeInTree(reportNodeId)">
					<span class="icon-tree" />
				</button>
				<button ng-if="executionViewServices.getExecution()&&executionViewServices.getExecution().executionType=='TestSet'" type="button" class="btn btn-default btn-xs" uib-tooltip="Select the test case containing this node in the test case table" tooltip-append-to-body="true" ng-click="executionViewServices.showTestCase(reportNodeId)">
					<span class="glyphicon glyphicon-list-alt" />
				</button>
				<button type="button" class="btn btn-default btn-xs" uib-tooltip="Show/hide details" tooltip-append-to-body="true" ng-click="toggleDetails()">
					<span class="glyphicon glyphicon-option-horizontal" />
				</button>
			</div>
		</span>
	</div>
	<hr />
	<div ng-if="node._class=='step.artefacts.reports.CallFunctionReportNode'">
		<div>
			<div style="display:inline-block;width:100%;">
				<div class="section-header2 inline"><a ng-click="showInput = !showInput">Inputs</a></div>
				<div class="section-header2 inline pull-right"><a ng-click="showInput = !showInput"><em>{{toggleIOText(showInput)}}</em></></a></div>
				<div class="inline">
					<json-viewer-plain class="text-margin-left text-wrapping-anywhere" json="node.input" max-chars="100" ng-show="!showInput"/>
				</div>
			</div>
			<div ng-show="showInput">
				<json-viewer-extended json="node.input" format="'kv'"/>
				<!--<pre class="text-wrapping" ng-if="node.input">{{node.input}}</pre>-->
			</div>
		</div>
		<div>
			<div style="display:inline-block;width:100%;">
				<div class="section-header2 inline"><a ng-click="showOutput = !showOutput">Outputs</a></div>
				<div class="section-header2 inline pull-right"><a ng-click="showOutput = !showOutput"><em>{{toggleIOText(showOutput)}}</em></></a></div>
				<div class="inline">
					<json-viewer-plain class="text-margin-left text-wrapping-anywhere" json="node.output" max-chars="100" ng-show="!showOutput"/>
				</div>
			</div>
			<div ng-show="showOutput">
				<json-viewer-extended json="node.output" format="'kv'"/>
			</div>
		</div>
	</div>
	<div ng-if="node._class=='step.artefacts.reports.EchoReportNode'">
		<!--<div>
			<div style="display:inline-block;width:100%;">-->
		<div ng-if="node.echo" class="text-wrapping-anywhere">Echo: <small><em>{{node.echo}}</em></small></div>
	</div>
	<div ng-if="node._class=='step.artefacts.reports.AssertReportNode'">
		<div ng-if="node.message" class="text-wrapping-anywhere"><small><em>{{node.message}}</em></small></div>
	</div>
	<div ng-if="node.resolvedArtefact._class=='Set'">
		<div class="text-wrapping-anywhere">{{node.key}} = {{node.value}}</div>
	</div>
	<div ng-if="node.error" class="text-wrapping-anywhere"><span class="section-header2">Error: </span><small><em>{{node.error.msg}}
		{{(node.attachments && node.attachments.length>0)?'. Check the attachments for more details.':''}}</em></small>
	</div>
	<div>
		<attachments-preview attachments="node.attachments" />
	</div>
	<div ng-if="isShowDetails">
		<reportnode id="reportNodeId" show-artefact="false" />
	</div>
	<hr />
	<div>
		<span class="text-muted small">Start: <datems time="node.executionTime" /></span>
		<span class="text-muted small text-margin-left">Duration (ms): {{node.duration}}</span></div>
</div>