<div ng-if="node.loopCount"><span class="text-muted small">Number of polling</span><span class="node-text text-margin-left">{{node.loopCount}}</span></div>
<div ng-if="node.waitDuration"><span class="text-muted small">Wait duration (ms)</span><span class="node-text text-margin-left">{{node.waitDuration}}</span></div>
<div ng-if="node.criteriaEventId || node.criteriaGroup">
	<span class="text-muted small">Criteria</span>
	<span ng-if="!node.criteriaEventId && !node.criteriaGroup" class="node-text text-margin-left">Not available</span>
	<span ng-if="node.criteriaEventId" class="node-text text-margin-left"><strong>id=</strong>{{node.criteriaEventId}}</span>
	<span ng-if="!node.criteriaEventId && node.criteriaGroup" class="node-text text-margin-left">
		<strong>Group=</strong>{{node.criteriaGroup}}<strong>, Name=</strong>{{node.criteriaName}}
	</span>
</div>
<div ng-if="node.event">
	<span class="text-muted small">Event:</span>
	<ul>
		<li><span class="node-text">ID: {{node.event.id}}</span></li>
		<li><span class="node-text">Group: {{node.event.group}}</span></li>
		<li><span class="node-text">Name: {{node.event.name}}</span></li>
		<li><span class="node-text">Payload: {{node.event.payload}}</span></li>
	</ul>
</div>
<br/>